<div ui-view class="form-container">
    <div id="adminDashboard" layout="row" class="page">
        <div class="col-sm-12">
            <div>
                <div class="title"> USER ADMINISTRATION

                    <div class="adminSearch">
                        <div class="row form-inline">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label for="search"> SEARCH: </label>
                                    <input type="text" id="searchAdmin" ng-model="search" ng-change="refreshData(search)" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 col-sm-1 pull-left">
                                    <button type="button" id="addAdminUser" class="form-control admin-btn" ng-click="updateUser(null)"> Add New User </button>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-7 text-right">
                                <span class="fa fa-filter" id="filterGrid" ng-click="enableUpComingDeadLinesFilter()"><md-tooltip md-direction="top">Filter</md-tooltip></span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div id="gridAdmin" ui-grid="adminDashboardGrid" ui-grid-grouping ui-grid-pagination ui-grid-auto-resize class="grid">

                    </div>
                </div>
            </div>
        </div>