<md-content id="login" layout-align="center center" layout="row">

    <div class="bg-wrapper col-sm-6" layout-align="center center" layout="row" id="changePswd">
        <div layout="row" ng-class="errLoginMsg?'alert':'alert'" layout-align="center center">
            <p ng-if="successPasswordChanged"> Your password has been changed. Please click here to proceed to the <a ui-sref="login"> login page </a> </p>
        </div>
        <div flex="50" layout-align="center none" layout="column" layout-padding>
            <p layout-align="center center" layout="column"> <img ng-src="Images/login-logo.png" style="width:290px;"> </p>
        </div>
        <!--<p ng-if="successPasswordChanged"> Your password has been changed. Please click here to proceed to the <a ui-sref="login"> login page </a> </p>-->
        <div flex="50" class="login-form" layout-align="space-around none" layout="column">

            <form name="loginForm" layout="column" layout-padding>

                <div class="title"> Change Password </div>

                <md-input-container>

                    <input type="text" readonly ng-model="LoginData.username">
                    <md-icon><span class="fa fa-user"></span>
                    </md-icon>

                </md-input-container>

                <md-input-container>
                    <input type="password" ng-model="LoginData.oldPassword" placeholder="Enter Temporary Password" ng-required="true" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                    <md-icon><span class="fa fa-key"></span>
                    </md-icon>
                </md-input-container>

                <md-input-container>
                    <input type="password" ng-model="LoginData.newPassword" ng-focus="checkFocus()" autocomplete="off" ng-blur="checkClicked()" name="pswd" id="pswd" class="login1" ng-change="changePassword(1)" placeholder="Enter New Password" value="" ng-required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                        ng-required="true" />
                    <md-icon>
                        <div class="icon41" ng-if="!loginForm.pswd.$invalid && hjy && loginForm.pswd.$dirty">
                            <md-tooltip md-direction="top"> Password Crieria Matched </md-tooltip><img src="Images/correct-1.png" style="cursor: pointer;" />
                        </div>
                        <div class="icon41" ng-if="loginForm.pswd.$invalid">
                            <md-tooltip md-direction="top"> Minimum of 8 characters having at least a capital letter, a small letter, a number and a special character like @, !, #, $ or %. </md-tooltip><img src="Images/incorrect.png" style="cursor: pointer;" data-toggle="popover" data-placement="top"
                                data-trigger="hover" data-content="8 characters (A-Z,a-z,0-9, !,@,#,% only)" /> </div>
                    </md-icon>
                </md-input-container>

                <md-input-container>

                    <input type="password" name="confirmpassword" class="login1" ng-change="changePassword(2)" id="confirmpassword" autocomplete="off" value="" ng-blur="checkClicked()" ng-model="LoginData.newPassword2" placeholder="Confirm Password" ng-required="true" ng-required
                        pw-check="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                    <md-icon><span class="fa fa-key"></span>
                    </md-icon>
                </md-input-container>
                <div class='msg-block' ng-show='loginForm.$error'>
                    <span class='msg-error' ng-show='loginForm.confirmpassword.$error.pwmatch'>
                            Passwords don't match.
                     </span>
                </div>

                <div style="clear:both;">

                </div>
                <button class="btn primary btn-block" ng-disabled="loginForm.$invalid || isClicked || islengthZero" ng-click="changepassword()">Submit</button>

            </form>

        </div>

    </div>

</md-content>