    // styles.scss
    // .centered{
    //     margin-top: 16%;
    //     margin-left: 10%;
    //     margin-right: 26%;
    // }
    $mainBG: #EAEBED;
    $contentWrapper: 1200px;
    $loginBgImg: url('../Images/login-bg.jpg') no-repeat 0 0 /cover;
    $adminBgImg: url('../Images/admin-bg.jpg');
    $white: #fff;
    $black: #000;
    $transparentBG: rgba(255,
    255,
    255,
    .5);
    $primaryColor: #2a3f6b;
    $grey: #a2a2a2;
    $anchorColors: #2f70b3;
    $primaryBtnBorder: #374d77;
    $bodyFont: 14px;
    $labelColor: #565656;
    $darkgrey: #565656;
    $navBorders: #b4e3ef;
    $loginHead: #164171;
    $placeholderColor: #453283;
    $small: 75%;
    $loginCopyrights: #616161;
    $subTitle: #0f7bac;
    $notification-alert: #ff4800;
    $errorMessage-color: #ff0000;
    //loading Global
    .loader-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: black;
        z-index: 999999999;
        overflow: hidden;
    }
    
    .loader-overlay img {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    //Mixins
    @mixin shadow ($dropShadow) {
        -webkit-box-shadow: $dropShadow;
        -moz-box-shadow: $dropShadow;
        box-shadow: $dropShadow;
    }
    
    //Global CSS
    html,
    body {
        background: $adminBgImg no-repeat top left / 100% $white;
        font-size: $bodyFont;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    md-checkbox.md-default-theme.md-checked .md-icon,
    md-checkbox.md-checked .md-icon {
        background-color: transparent;
        width: 18px;
        height: 18px;
    }
    
    md-checkbox.md-default-theme.md-checked .md-ink-ripple,
    md-checkbox.md-checked .md-ink-ripple {
        color: transparent;
        border: 1px solid $black;
    }
    
    header md-select {
        border: 1px solid #ccc;
        padding: 1px 10px 2px;
        box-shadow: 2px 2px 5px #ccc inset;
    }
    
    * {
        outline: none !important;
    }
    
    .ui-grid-viewport {
        overflow-x: hidden;
        //overflow-y: auto !important;
    }
    
    select {
        color: $primaryColor;
        font-weight: bold;
        background: #f4fdfc;
        margin: 5px 0 0;
        border: 1px solid #ccc;
        height: 40px;
        padding: 0 10px;
        width: 100%;
        box-shadow: 1px 2px 5px #CCC inset;
    }
    
    .clearfix {
        height: 0;
        clear: both;
        margin: 0;
        padding: 0;
    }
    
    md-checkbox .md-icon {
        border-radius: 0;
    }
    
    md-content {
        background: none;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    a {
        color: $anchorColors;
        text-decoration: none !important;
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-center {
        text-align: center;
    }
    
    label {
        font-weight: 600;
        color: $darkgrey;
        margin: 20px 0 3px 0;
        text-transform: uppercase;
    }
    
    .fa-bars {
        font-size: 1.2rem !important;
    }
    
    md-autocomplete {
        margin: 0 0 10px;
    }
    
    md-autocomplete,
    md-autocomplete-wrapwrap,
    md-autocomplete md-autocomplete-wrap {
        line-height: 35px;
        height: 35px;
    }
    
    .small {
        font-size: 75% !important;
    }
    
    .nopadding {
        padding: 0 !important;
    }
    
    .nomargin {
        margin: 0 !important;
    }
    
    .btn-block {
        display: block;
        width: 100%;
    }
    
    .check-with-label:checked+.label-for-check {
        font-weight: bold;
    }
    
    button[disabled],
    html input[disabled] {
        cursor: no-drop;
    }
    
    .ele-sig {
        margin: 13px 0 0 0
    }
    
    .form-input {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px #ccc inset;
        padding: 8px;
        margin: 0 0 10px;
        background: #f4fdfc;
        width: 100%;
        height: 35px;
    }
    
    .datepicker {
        position: relative;
    }
    
    .datepicker:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url('../images/calendar.png') no-repeat;
        right: 0;
        top: 11px;
        right: 8px;
        opacity: .6;
    }
    
    .selectedDB {
        color: $errorMessage-color;
    }
    
    .login-form {
        padding-right: 25px;
        padding-bottom: 15px;
        select {
            width: 100%;
            margin-bottom: 13px;
        }
    }
    
    ul {
        list-style-type: none;
    }
    
    //Theme CSS
    .btn-block {
        display: block;
    }
    
    .container {
        max-width: $contentWrapper;
        margin: 0 auto;
    }
    
    md-checkbox.md-checked .md-icon:after {
        border-color: #000;
    }
    
    .content-wrapper {
        max-width: $contentWrapper;
        background: $transparentBG;
        margin: 0 auto;
        //  min-height: 85vh;
        @include shadow(0px 0px 5px rgba(0,
        0,
        0,
        0.12))
    }
    
    .btn {
        background: $primaryColor;
        color: $white;
        text-transform: uppercase;
        border: 1px solid $primaryBtnBorder;
        padding: 8px 30px 5px;
    }
    
    .small-letter {
        font-size: 11px;
    }
    
    //Angular Material Override
    md-input-container>md-select {
        background: $white;
    }
    
    input {
        color: $black;
    }
    
    .well {
        background: #FDFEFF;
        margin: 15px 0;
        padding: 10px;
        border: 1px solid #DEDEDF;
    }
    
    input[size] {
        width: auto;
    }
    
    //Page CSS
    .page {
        .title {
            font-weight: bold;
            color: $primaryColor;
            margin: 10px 0 5px 0px;
        }
        .label-title {
            color: $subTitle;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    
    .dblistpadding {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 51px;
    }
    /*.ui-grid-render-container-left .ui-grid-viewport{
        height: 100% !important;
    }*/
    
    .reports-title {
        font-weight: bold;
        color: #2a3f6b;
        margin: 10px 0 5px 25px;
    }
    
    p {
        font-weight: 700;
        margin: 7px 0;
        color: $darkgrey;
    }
    
    .md-whiteframe-1dp,
    .md-whiteframe-z1 {
        border: 1px solid #ccc;
        background: #f4fdfc;
        box-shadow: 2px 2px 5px #ccc inset;
    }
    
    .digital-signForRevoke {
        padding-left: 140px;
        float: left;
        padding-top: -9px;
        margin-top: -6px;
        font-size: smaller;
        color: $errorMessage-color;
    }
    
    .asset-maitenance {
        color: #D37773 !important;
    }
    
    .errorMessage45Day {
        color: red;
        font-size: large;
        padding-right: 2px;
    }
    
    .to-data-picker {
        margin-top: 20px;
    }
    
    .nolabel {
        margin-top: 20px;
        font-weight: 600;
    }
    
    //sidebar CSS
    aside {
        background: rgba(255, 255, 255, .3);
        // height: 85vh; 
        position: relative;
        z-index: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px 10px;
        &:before {
            position: absolute;
            content: "";
            background: url('../Images/sidenavshadow.png') no-repeat;
            height: 100%;
            width: 7px;
            right: -6px;
            top: 0px;
        }
        &:after {
            position: absolute;
            content: "";
            background: $transparentBG;
            height: 82px;
            right: 0;
            left: 0;
            top: 0;
            z-index: -1;
        }
        >ul {
            list-style: none;
            padding: 0;
            margin: 0;
            >li {
                border: 1px solid $navBorders;
                padding: 10px 14px;
                margin: 18px 0 22px;
                box-shadow: 0 0px 4px $navBorders inset;
                &.active {
                    @include shadow(3px 3px 5px $navBorders);
                    border: 1px solid $grey;
                    a {
                        color: $primaryColor;
                        font-weight: bold;
                    }
                    span {
                        color: $primaryColor;
                    }
                }
                a {
                    text-transform: uppercase;
                    color: #31383f;
                    font-weight: 600;
                    &:focus,
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        color: #147372;
                    }
                }
                span {
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }
        }
        .ui-grid-viewport {
            overflow-x: hidden;
            overflow-y: auto !important;
        }
        .dropdown {
            padding-left: 20px;
            margin-bottom: 15px;
            .title {
                color: $anchorColors;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px 5px 5px 0;
                 ::not(::last-child) {
                    padding: 0 5px 5px 0;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    span {
                        margin-right: 2px;
                    }
                    a {
                        text-transform: capitalize;
                        color: $darkgrey;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    
    //Login Module CSS
    #login {
        background: $loginBgImg;
        /* display: table; */
        /* width: 100%; */
        /* padding: 4%; */
        position: absolute;
        /* margin: 5% auto 0; */
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        .error-msg {
            position: absolute;
            top: -35px;
            // left: 0;
            // right: 0;
            font-weight: 700;
            color: #cd4443;
        }
        .alert {
            position: absolute;
            top: -35px;
            // left: 0;
            // right: 0;
            font-weight: 700;
            color: #22bb52;
        }
        .bg-wrapper {
            background: rgba(255, 255, 255, .7);
            //  display: inline-block;
            box-shadow: 0px 0px 60px rgba(153, 217, 240, .7);
            //padding: 15px 0;
            //width: 100%; 
            position: relative;
            .logo {
                margin: 35% 0;
                img {
                    margin: auto;
                }
            }
            .checkbox-container {
                margin-top: 40px;
                padding: 0;
            }
            .copyrights {
                color: $loginCopyrights;
                text-align: center;
                font-weight: normal;
                font-size: 1rem;
            }
            input,
            i {
                color: $placeholderColor;
            }
            .title {
                color: $loginHead;
                font-weight: 700;
                font-size: 1.8rem;
                margin-left: -7px;
            }
            md-checkbox {
                text-transform: uppercase;
            }
            md-input-container.md-icon-right {
                .md-errors-spacer {
                    min-height: initial;
                }
                padding-right: 0;
            }
        }
        //  .logo-sec{ display: table-cell;   }
        //  .login-form{ display: table-cell;  } 
    }
    
    ._45-day-button {
        float: right;
        width: 115px;
        height: 34px;
        color: white;
        background: #2a3f6b;
        border: 1px solid #2a3f6b;
        margin-top: 3px;
    }
    
    .form-container {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid rgba(119, 119, 119, 0.12);
        background: rgba(255, 255, 255, .6);
        height: 67vh;
    }
    
    section {
        padding: 10px;
    }
    
    //Reports Module CSS
    #reports {
        md-checkbox {
            padding: 5px;
            &.md-checked {
                background: rgba(255, 255, 255, 0.6);
                padding: 5px;
                width: 100%;
            }
            .md-container {
                left: 10px;
            }
        }
        .sub-title {
            background: rgba(0, 0, 0, 0.14);
            padding: 5px 0;
            text-align: center;
            color: $darkgrey;
            margin: 10px 0 20px;
        }
        .label {
            color: $darkgrey;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    
    $errorBorder:1px solid rgba(221,
    44,
    0,
    0.44);
    $errorShadow:2px 2px 5px rgba(255,
    0,
    0,
    0.16) inset;
    .reports-auto-select .md-whiteframe-1dp,
    .reports-auto-select .md-whiteframe-z1,
    .datepicker .ng-invalid-required {
        border: $errorBorder;
        box-shadow: $errorShadow;
    }
    
    .errorbox-shadow {
        border: $errorBorder;
        box-shadow: $errorShadow;
    }
    
    .upDateDatePicker label {
        display: block;
        margin: 0;
    }
    
    ul .admin-colapse {
        padding: 10px;
    }
    
    .caret-down:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url('../images/caret-down.png') no-repeat;
        right: 0;
        top: 15px;
        opacity: .6;
    }
    
    .toggle-section label {
        display: block;
    }
    
    //Index Module CSS
    .noti-item {
        font-weight: bold;
    }
    
    #test {
        background: #d4e8f2;
        margin: 1px 3px 0;
        color: #09445f;
        border-radius: 3px;
        padding: 5px 14px;
    }
    
    .noti-span {
        font-size: 75%;
    }
    
    .admin-panel {
        font-size: 20px;
        vertical-align: middle;
    }
    
    .admin-tab {
        padding: 10px 8px 10px 9px;
    }
    
    .admin-tab span {
        margin: 0;
    }
    
    .admin-label {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .refresh-client-data {
        padding-left: 35px;
        padding-right: 51px;
        padding-top: 10px;
    }
    
    .padding-top-row {
        padding-top: 10px;
    }
    
    .admin-left-icon {
        font-size: 12px !important;
    }
    
    .ui-grid-header-cell {
        background: $primaryColor;
        color: $white;
        font-weight: normal;
        text-align: center;
        border-color: $grey;
    }
    
    .custom-notification {
        width: 24%;
        padding-left: 4px;
        padding-bottom: 5px;
    }
    
    .digital-sign {
        margin-right: 180px;
        // =======
        //     float: left;
        //     padding-left: 159px;
        //     padding-top: -9px;
        //     margin-top: -6px;
        //     font-size: smaller;
        // >>>>>>> e41df7826f3203fed39936b864cf94465a9f373c
        color: $errorMessage-color;
    }
    
    .error-message {
        color: #2D7DBC;
        margin-left: 2px;
    }
    
    header.main-header {
        max-width: $contentWrapper;
        margin: 0 auto;
        md-input-container {
            margin: 7px 0;
        }
        .title {
            font-weight: 600;
        }
        .notification-icon {
            font-size: 18px;
            color: $primaryColor;
            position: relative;
            span {
                position: absolute;
                background: $notification-alert;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                right: -2px;
                top: -3px;
                box-shadow: -1px 1px 0 #fff;
            }
            span.green {
                background: #55e255;
            }
        }
    }
    
    .top-details {
        min-height: 65px;
        font-size: 12px;
        background: $transparentBG;
        span.title {
            color: $primaryColor;
            font-weight: bold;
        }
        span.sub-title {
            color: $grey;
        }
    }
    
    header.main-header .notification-icon span.green {
        background: #55e255;
    }
    
    .menudemoBasicUsage .md-menu-demo {
        padding: 24px;
    }
    
    .menudemoBasicUsage .menu-demo-container {
        min-height: 200px;
    }
    
    .page-heading {
        color: #CD4046;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    
    .bottom-footer {
        width: 100%;
        background: #eceff1;
        z-index: 999;
        bottom: 0;
        border-top: 1px solid #FFF;
        position: fixed;
    }
    
    .left-footer-logo {
        float: left;
        margin: 12px 0px -10px 0px;
    }
    
    .right-footer-logo {
        text-align: center;
        margin: 12px 0 5px;
        color: #636363;
        font-weight: inherit;
    }
    
    #dashboard {
        .title {
            margin: 20px 0 10px 0px;
        }
        // .grid.ui-grid {
        //     height: 152px !important;
        // }
        //  }
        // #day45 {
        //     .grid.ui-grid {
        //         height: 145px !important;
        //     }
    }
    
    @media(min-width: 1920px) {
        $contentWrapper: 1600px;
        $bodyFont: 1.1rem;
        .content-wrapper,
        .container,
        header.main-header {
            max-width: $contentWrapper;
        }
        html,
        body {
            font-size: $bodyFont;
        }
        .form-container {
            height: 76vh;
        }
        #test {
            font-size: 13px;
        }
        aside>ul>li {
            padding: 10px 20px;
        }
    }
    /* Naheed  Dashboard */
    
    #adminDashboard .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    #fourtyDays .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    #grid45ii .ui-grid-header-cell .sortable {
        text-align: center;
        margin-left: 10px;
    }
    
    #editRelinquished md-dialog {
        margin: 0 auto !important;
    }
    
    #editRelinquished .md-whiteframe-1dp,
    #editRelinquished .md-whiteframe-z1 {
        margin: 5px !important;
    }
    
    #editRelinquished p {
        margin: 5px !important;
    }
    
    input#incorpdate {
        font-size: 13px !important;
    }
    
    span.fa.fa-filter {
        font-size: 19px;
    }
    
    #adminDashboard span.fa.fa-filter {
        margin-top: 13px;
    }
    
    ._720kb-datepicker-calendar-month span {
        color: #fff !important;
    }
    
    ._720kb-datepicker-calendar-header a {
        color: #fff !important;
    }
    
    .adminSearch {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #adminDashboard label {
        margin: 20px 3px 3px 0;
    }
    
    #adminDashboard input#searchAdmin {
        height: 30px;
    }
    
    .admin-btn {
        float: right;
        width: 115px;
        height: 32px;
        color: white;
        background: #2a3f6b;
        border: 1px solid #2a3f6b;
        border-radius: 4px;
        margin-right: 25px;
    }
    
    #adminDashboard input#search {
        height: 32px;
        width: 62%;
    }
    
    #adminDashboard .ui-grid-column-menu-button .ui-grid-icon-angle-down {
        display: none;
    }
    
    .ui-grid-cell-contents {
        font-size: 13px;
        margin-left: 7px;
    }
    
    // #makeModel input[name="makeModel"],
    // #taxBooky input[name="taxBook"],
    // #taxYeary input[name="fromTaxYear"],
    // #taxTo input[name="toTaxYear"],
    // #refreshYear input[name="refreshTaxYr"],
    // #taxBooky input[name="managementTaxYear"],
    // #taxBok input[name="reconcilationRepTaxBook"],
    // #txYear input[name="reconcilationRepTaxYear"],
    // #txyBok input[name="taxReportTaxBook"],
    // #txYeary input[name="taxReportTaxYear"],
    // #manage-tax input[name="managementTaxYear"],
    // {
    //     background: url('../Images/dropdownicon.png');
    //     background-repeat: no-repeat;
    //     background-position: right 7px;
    //     cursor: pointer;
    // }
    // #relinquished .grid.ui-grid {
    //     height: 145px !important;
    // }
    #reportManage md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #reportsDetail md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #editRelinquished md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #editRelinquished md-autocomplete .md-show-clear-button button md-icon {
        display: none;
    }
    
    #adminAaddNewUser .layout-row>.flex {
        margin-left: 5px !important;
    }
    
    #adminAaddNewUser {
        height: 89%;
        margin: 0 auto !important;
    }
    
    #adminAaddNewUser md-dialog {
        margin: 0 auto !important;
        max-width: 100%;
    }
    
    // .form-inline .form-group {
    //     display: inline-block;
    //     margin-bottom: 0;
    //     vertical-align: middle;
    // }
    // .form-inline .form-input {
    //     display: inline-block;
    //     width: auto;
    //     vertical-align: middle;
    // }
    #adminAaddNewUser md-checkbox {
        border-radius: 50%;
    }
    
    #changePswd md-tooltip {
        font-size: 19px;
    }
    
    #adminDashboard .ui-grid-pager-row-count-picker {
        visibility: hidden;
    }
    
    #adminDashboard .ui-grid-pager-panel {
        padding-bottom: 0px !important;
        bottom: -3px !important;
    }
    
    .checkUsername {
        color: #cd4443;
    }
    
    #adminDashboard .ui-grid-canvas {
        color: inherit !important;
        font-weight: normal !important;
    }
    
    #adminAaddNewUser span.help-block {
        color: #cd4443;
    }
    
    #assetMaintain .ui-grid-cell-contents {
        font-size: 11px;
        margin-left: 0px !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        text-align: center;
        padding-bottom: 0;
        height: 39px;
    }
    
    #adminAaddNewUser button#closeOpt {
        margin-right: 33px;
    }
    
    // #adminDashboard .ui-grid-cell-contents.ui-grid-header-cell-primary-focus {
    //     font-size: 11px !important;
    //     margin-left: 2px !important;
    // }
    /*#editRelinquished input#liaRel 
{
text-align:right;
}*/
    
    #adminAaddNewUser select {
        color: #3A4457 !important;
        font-weight: normal !important;
    }
    
    #adminDashboard .ui-grid-cell-contents {
        margin-left: 12px !important;
    }
    
    .grid.asset-tabel {
        min-height: 245px;
        height: auto !important;
    }
    
    .asset-sub .ui-grid-viewport,
    .asset-sub {
        height: auto !important;
    }
    
    .ui-grid-pager-row-count-label {
        display: none;
    }
    
    .asset-grid .ui-grid-render-container-body .ui-grid-header-cell,
    .asset-grid .ui-grid-render-container-left .ui-grid-header-cell,
    .asset-grid .ui-grid-header-cell {
        height: 20px !important;
    }
    
    .ui-grid-cell {
        padding-left: 5px;
    }
    
    @media (max-width:1400px) {
        #adminAaddNewUser md-checkbox .md-label {
            font-size: 17px;
        }
    }
    
    #adminAaddNewUser md-checkbox .md-label {
        font-size: 13px;
    }
    
    .toggle-section label {
        font-size: 14px;
    }
    
    .update-asset p {
        font-size: 14px;
    }
    
    @media (min-width:1600px) {
        #label-ToDate {
            top: 6px;
        }
        .asset-sub .ui-grid-row:last-child .ui-grid-cell {
            height: 60px;
        }
    }
    /* Naheed 1080p Code */
    
    @media (min-width:1300px) {
        div#grid45i {
            height: 152px;
        }
        div#grid45ii {
            height: 152px;
        }
        div#grid45i45 {
            height: 152px;
        }
        div#grid45ii452 {
            height: 152px;
        }
        div#reliqn {
            height: 145px;
        }
        div#recentSub {
            height: 145px;
        }
        div#replacemntID {
            height: 145px;
        }
        .errData {
            color: #ff0000;
            margin-top: -73px;
            text-align: center;
            font-size: 16px;
        }
    }
    
    @media (min-width:1900px) {
        div#gridAdmin {
            height: 610px !important;
        }
        .grid.asset-tabel {
            height: 700px;
        }
        div#grid45i {
            height: 280px;
        }
        div#grid45ii {
            height: 280px;
        }
        div#reliqn {
            height: 230px;
        }
        div#replacemntID {
            height: 230px;
        }
        div#grid45i45 {
            height: 270px;
        }
        div#recentSub {
            height: 500px;
        }
        div#grid45ii452 {
            height: 270px;
        }
        div#assetGrid {
            height: 450px !important;
        }
        div#gridAdmin .ui-grid-row {
            font-size: 15px;
        }
        #adminDashboard .ui-grid-cell-contents {
            font-size: 14px;
        }
        .admin-btn {
            font-size: 16px;
        }
        #adminAaddNewUser .form-input {
            height: 39px !important;
        }
        .errData {
            color: #ff0000;
            margin-top: -153px;
            text-align: center;
        }
        #assetMaintain .errData {
            margin-top: -236px;
        }
        #adminAaddNewUser md-dialog {
            margin: 60px auto !important;
            max-width: 100%;
        }
    }
    
    #uiDashboard .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    .layout-row>.flex-19 {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 152px;
        max-height: 100%;
        box-sizing: border-box;
    }
    
    #assetMaintain .datepicker>div {
        right: 0;
    }
    /* Naheed */
    
    #editRelinquished input#liaRel {
        text-align: right;
    }
    
    div#gridAdmin .ui-grid-row {
        font-size: 15px;
    }
    
    #adminDashboard .ui-grid-cell-contents {
        font-size: 14px;
    }
    
    div#grid45ii .ui-grid-row {
        font-size: 15px;
    }
    
    div#grid45i .ui-grid-row {
        font-size: 15px;
    }
    
    div#grid45i45 .ui-grid-row {
        font-size: 15px;
    }
    
    div#grid45ii452 .ui-grid-row {
        font-size: 15px;
    }
    
    div#replacemntID .ui-grid-row {
        font-size: 15px;
    }
    
    div#recentSub .ui-grid-row {
        font-size: 15px;
    }
    
    #uiDashboard .ui-grid-cell-contents {
        font-size: 14px;
    }
    
    #fourtyDays .ui-grid-cell-contents {
        font-size: 14px;
    }
    
    div#reliqn .ui-grid-row {
        font-size: 15px;
    }
    
    #relinquished .ui-grid-cell-contents {
        font-size: 14px;
    }
    
    .ui-grid-row {
        color: #2a3f6b !important;
    }