<md-content id="login" layout-align="center center" layout="row">

    <div class="bg-wrapper col-sm-6" layout-align="center center" layout="row">
        <div layout="row" ng-class="errLoginMsg?'alert':'error-msg'" layout-align="center center">{{LoginResponse.displayMessage}}</div>
        <div flex="50" layout-align="center none" layout="column" layout-padding>
            <p layout-align="center center" layout="column"> <img ng-src="Images/login-logo.png" style="width:290px;"> </p>
        </div>

        <div flex="50" class="login-form" layout-align="space-around none" layout="column">

            <form name="loginForm" layout="column" layout-padding>

                <div class="title">Sign In</div>
                <md-input-container>
                    <input type="text" ng-model="LoginData.username" placeholder="Enter User Name">
                    <md-icon><span class="fa fa-user"></span>
                    </md-icon>
                </md-input-container>
                <md-input-container>
                    <input type="password" ng-model="LoginData.password" placeholder="Enter Password">
                    <md-icon><span class="fa fa-key"></span>
                    </md-icon>
                </md-input-container>

                <select ng-if="isLoggedIn" ng-model="userData.SelectedDatabase" ng-options="i.actualDbaseName for i in userData.dbList">
                                <option value="">Select a database</option>
                            </select>

                <md-checkbox aria-label="Checkbox 2" ng-model="rememberMe">
                    Remember Me
                </md-checkbox>

                <button class="btn primary btn-block" ng-click="loginButtonClicked(LoginData)"><span ng-if="!isLoggedIn">Sign In</span><span ng-if="isLoggedIn">Submit</span></button>


            </form>

        </div>

    </div>

</md-content>