<div class="form-container" id="uiDashboard">
    <div id="dashboard" layout="row" class="page">

        <div ng-init="init()" class="col-sm-12">

            <div class="title">UPCOMING 45-DAY ID DEADLINES</div>

            <div id="grid45i" ui-if="gridOptions.data.length>0" ui-grid="gridOptions" ui-grid-auto-resize class="grid">

                <p ng-if="gridOptions.data.length==0" class="errData"> No data found </p>

            </div>

            <div class="title ">SALE/PURCHASE ACTIVITY WITHIN LAST 180 DAYS</div>

            <div id="grid45ii" ui-if="gridOptions1.data.length>0" ui-grid="gridOptions1" ui-grid-auto-resize class="grid">
                <p ng-if="gridOptions1.data.length==0" class="errData"> No data found </p>

            </div>
        </div>
    </div>
</div>