﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>LKE</title>

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="style/bootstrap.css" />
    <link href="libs/robotoCondensed.css" rel="stylesheet">
    <link href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet">
    <link href="style/angular-ui-notification.css" rel="stylesheet">
    <link href="bower_components/angular-ui-grid/ui-grid.css" rel="stylesheet">
    <link rel="stylesheet" href="style/styles.css" />
    <link rel="stylesheet" href="libs/daterangepicker.css" />
    <link href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" rel="stylesheet">
    <!--endbuild-->

    <!--build:js js/main.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="libs/fontawesome.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/moment.js"></script>
    <script src="libs/daterangepicker.js"></script>
    <script src="libs/ng-bs-daterangepicker.min.js"></script>
    <script src="libs/ui-bootstrap-0.14.3.min.js"></script>
    <script src="bower_components/ng-idle/angular-idle.js"></script>
    <script src="bower_components/angular-disable-all/dist/angular-disable-all.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="Services/angular-ui-notification.js"></script>
    <script src="app.js"></script>
    <script src="Services/ReportsDataService.js"></script>
    <script src="Services/ConsoleService.js"></script>
    <script src="Services/LoginService.js"></script>
    <script src="Services/LoadingService.js"></script>
    <script src="Services/NotificationService.js"></script>
    <script src="Services/45DaysIdsService.js"></script>
    <script src="MainCtrl.js"></script>
    <script src="modules/Login/loginCTRL.js"></script>
    <script src="modules/Dashboard/dashboardCTRL.js"></script>
    <script src="modules/Reports/reportsCTRL.js"></script>
    <script src="modules/Reports/reportsDetailsCTRL.js"></script>
    <script src="modules/45-Day-Ids/45DaysIdsCtrl.js"></script>
    <script src="modules/45-Day-Ids/relinquishedAssetCtrl.js"></script>
    <script src="modules/45-Day-Ids/RecentSubmissions.js"></script>
    <script src="modules/Administration/AdminDashboard.js"></script>
    <script src="modules/Administration/UpdateAutoArchive/ReportManagement.js"></script>
    <script src="modules/Administration/UpdateAutoArchive/UserManagement.js"></script>

    <script src="modules/Administration/changePassword.js"></script>

    <script src="modules/AssetMaintenance/assetMaintenanceCtrl.js"></script>
    <script src="modules/TaxPayerInfo/taxInfoCTRL.js"></script>
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="html5shiv.min.js"></script>
      <script src="respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="MyLkeApp" ng-controller="MainCtrl" ng-cloak>
    <div disable-all="isDisabled">
        <!--    <div id="myloaderdiv" ng-show="isLoading">
    <img class="ajax-loader" src="Images/loading.gif" />
        </div>-->
        <div id="myLoader1" class="loader-overlay" ng-show="globalloading">
            <img src="Images/loading.gif" />
        </div>
        <div ng-if="isLoggedIn">
            <header layout="row" class="main-header">
                <div flex="20" layout="row" layout-align="start center">
                    <a ui-sref="dashboard"> <img ng-src="Images/login-logo.png" class="logo" style="width:100%;"> </a>
                </div>
                <div flex="55" layout="row" layout-align="center center">
                    <div class="title"> Welcome back {{userData.fullName}}</div>
                </div>

                <div flex="5" layout="row" layout-align="center center">
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openNotificationsMenu($mdOpenMenu, $event)">
                            <i class="fa fa-bell notification-icon"><md-tooltip md-direction="left">Notifications</md-tooltip><span ng-class="{green : notificationList.length>0 ? true : false}"></span></i>
                        </md-button>

                        <md-menu-content width="4" class="notification">
                            <div class="container-fluid"> <b>Notifications</b> </div>
                            <md-menu-item ng-repeat="item in notificationList">
                                <div ng-click="notificationItemClicked(item)" id="test">
                                    <div layout="column" class="noti-item">
                                        <div layout="row" class="noti-title">{{item.notificationText}}</div>
                                        <div layout="row" class="noti-span">{{item.createdDate | date:'MMMM, dd-yyyy HH:mm a'}} Eastern</div>
                                    </div>

                                </div>


                            </md-menu-item>


                        </md-menu-content>
                    </md-menu>
                </div>


                <div flex="15" ng-controller="selectDatabase">
                    <md-input-container>
                        <select ng-model="userData.SelectedDatabase" ng-options="i.actualDbaseName for i in userData.dbList">
                                    <option value="">Select a database</option>
                        </select>
                    </md-input-container>
                </div>
                <div flex="5" layout="row" layout-align="end center">

                    <a href ng-click="signoutClicked()"> Sign Out </a>
                </div>
            </header>
        </div>

        <div class="content-wrapper">
            <div layout="row">
                <aside flex="{{sideNavFlex}}" ng-if="isLoggedIn">
                    <ul>
                        <!--class="active"-->

                        <li ng-class="activeTab1"><a ui-sref="dashboard"><span class="fa fa-home"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Home</md-tooltip></span> <span ng-if="hideSideNavText">Home</span></a></li>
                        <!--<li ng-class="activeTab2"><a><span class="fa fa-percent"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Taxpayer Info</md-tooltip></span> <span ng-if="hideSideNavText" ng-click="hideSideNav(sideNavFlex)">Taxpayer Info</span></a></li>-->
                        <li ng-class="activeTab2"><a><span class="fa fa-percent"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Taxpayer Info</md-tooltip></span> <span ng-if="hideSideNavText" >Taxpayer Info</span></a></li>
                        <li ng-class="activeTab3"><a ui-sref="reports"><span class="fa fa-file-text-o"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Reports</md-tooltip></span> <span ng-if="hideSideNavText">Reports</span></a></li>
                        <li ng-class="activeTab4"><a ui-sref="45-Days-Ids"><span class="fa fa-calendar"><md-tooltip md-direction="top" ng-if="!hideSideNavText">45-Day ID<span class="small-letter">s</span></md-tooltip></span> <span ng-if="hideSideNavText">45-Day ID<span class="small-letter">s</span></span></a></li>
                        <li ng-class="activeTab5"><a ui-sref="assetMaintenance"><span class="fa fa-dollar"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Asset Search</md-tooltip></span><span ng-if="hideSideNavText"> Asset Search</span></a></li>

                        <li ng-class="activeTab6" class="admin-tab" ng-if="obj.adminAccess">
                            <a href ng-click="collapseAdminPannel()"><span class="fa fa-user"><md-tooltip md-direction="top" ng-if="!hideSideNavText">Administration</md-tooltip></span> <span ng-if="hideSideNavText" class="admin-label">Administration</span>
                                <i ng-if="isAdminCollapse" class="fa fa-caret-down admin-left-icon" aria-hidden="true"></i>
                                <i ng-if="!isAdminCollapse" class="fa fa-caret-right admin-left-icon" aria-hidden="true"></i>
                            </a>

                            <ul ng-if="isAdminCollapse && hideSideNavText" class="admin-colapse">

                                <li><a ui-sref="administration"><span class="fa fa-caret-right fa-2"></span> <span ng-if="hideSideNavText">USER MANAGEMENT</span></a></li>
                                <li><a ui-sref="reportManagement"><span class="fa fa-caret-right fa-2"></span> <span ng-if="hideSideNavText">REPORT MANAGEMENT</span></a></li>
                                <!--
                                <li><a ui-sref="administration"><span class="fa fa-caret-right fa-2"></span> <span>USER MANAGEMENT</span></a></li>
                                <li><a ui-sref="reportManagement"><span class="fa fa-caret-right fa-2"></span> <span>REPORT MANAGEMENT</span></a></li>-->

                            </ul>


                        </li>



                    </ul>
                </aside>
                <div class="main" flex="{{sideNavWidth}}">

                    <div layout="row" ng-if="isLoggedIn" class="top-details" layout-padding>
                        <div flex="5" layout-align="center center" layout="row"><span class="fa fa-bars" ng-click="hideSideNav(sideNavFlex)"><md-tooltip md-direction="top" md-autohide="true">{{sideNavBar}} Menu</md-tooltip></span></div>
                        <div flex="45">

                            <span class="title uppercase">{{userData.EntityData.data.longName}}</span><br>

                            <span class="sub-title uppercase"> {{userData.EntityData.data.addressLine1 ? userData.EntityData.data.addressLine1: ""}}<br> {{userData.EntityData.data.addressCity ?  userData.EntityData.data.addressCity+"," : ""}} {{userData.EntityData.data.addressState ?userData.EntityData.data.addressState : ""}} {{userData.EntityData.data.addressZipCode ? userData.EntityData.data.addressZipCode:""}}</span>
                        </div>
                        <div flex="20">
                            <span class="sub-title"> WTP REPRESENTATIVE:<br>
{{userData.EntityData.data.wtpRepName}}
            </span>
                        </div>
                        <div flex="10">
                            <span class="sub-title"> CONTACT:
            <br>
{{userData.EntityData.data.wtpRepNum}}
</span>
                        </div>
                        <div flex="20">
                            <span class="sub-title">
            EMAIL:<br>
<a href="mailto:"+{{userData.EntityData.data.wtpRepEmail}}>{{userData.EntityData.data.wtpRepEmail}}</a>
</span>

                        </div>
                    </div>
                    <section>
                        <div ui-view></div>
                    </section>
                </div>
            </div>


            <!--<img class="ajax-loader" src="Images/ring.gif" />-->


        </div>
        <div class="bottom-footer">
            <div class="">
                <!--<div class="left-footer-logo"><img src="images/login-logo.png" /></div>-->

                <div class="right-footer-logo"> Copyright © 2017 WTP Exchange LLC. All Rights Reserved. </div>


            </div>
        </div>
        <script type="text/ng-template" id="sessionAutoLogout_template.html">
            <div class="ui-notification custom-template custom-notification">
                <h3>{{wraningMessage}}</h3>
                <div class="message" ng-bind-html="message"></div>

                <div class="message">
                    <a class="btn btn-small btn-primary close-notification" ng-click="sessionEnded()">Sign Out</a>
                    <a class="btn btn-small btn-primary close-notification" ng-click="sessionContinue()">Continue Session</a>
                </div>
            </div>
        </script>
    </div>
</body>

</html>