    .loader-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: black;
        z-index: 999999999;
        overflow: hidden;
    }
    
    .loader-overlay img {
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    html,
    body {
        background: url("../Images/admin-bg.jpg") no-repeat top left/100% #fff;
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    md-checkbox.md-default-theme.md-checked .md-icon,
    md-checkbox.md-checked .md-icon {
        background-color: transparent;
        width: 18px;
        height: 18px;
    }
    
    md-checkbox.md-default-theme.md-checked .md-ink-ripple,
    md-checkbox.md-checked .md-ink-ripple {
        color: transparent;
        border: 1px solid #000;
    }
    
    header md-select {
        border: 1px solid #ccc;
        padding: 1px 10px 2px;
        box-shadow: 2px 2px 5px #ccc inset;
    }
    
    * {
        outline: none !important;
    }
    
    .ui-grid-viewport {
        overflow-x: hidden;
    }
    
    select {
        color: #2a3f6b;
        font-weight: bold;
        background: #f4fdfc;
        margin: 5px 0 0;
        border: 1px solid #ccc;
        height: 40px;
        padding: 0 10px;
        width: 100%;
        box-shadow: 1px 2px 5px #CCC inset;
    }
    
    .clearfix {
        height: 0;
        clear: both;
        margin: 0;
        padding: 0;
    }
    
    md-checkbox .md-icon {
        border-radius: 0;
    }
    
    md-content {
        background: none;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    a {
        color: #2f70b3;
        text-decoration: none !important;
    }
    
    a:hover,
    a:focus {
        text-decoration: none !important;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-center {
        text-align: center;
    }
    
    label {
        font-weight: 600;
        color: #565656;
        margin: 20px 0 3px 0;
        text-transform: uppercase;
    }
    
    .fa-bars {
        font-size: 1.2rem !important;
    }
    
    md-autocomplete {
        margin: 0 0 10px;
    }
    
    md-autocomplete,
    md-autocomplete-wrapwrap,
    md-autocomplete md-autocomplete-wrap {
        line-height: 35px;
        height: 35px;
    }
    
    .small {
        font-size: 75% !important;
    }
    
    .nopadding {
        padding: 0 !important;
    }
    
    .nomargin {
        margin: 0 !important;
    }
    
    .btn-block {
        display: block;
        width: 100%;
    }
    
    .check-with-label:checked+.label-for-check {
        font-weight: bold;
    }
    
    button[disabled],
    html input[disabled] {
        cursor: no-drop;
    }
    
    .ele-sig {
        margin: 13px 0 0 0;
    }
    
    .form-input {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px #ccc inset;
        padding: 8px;
        margin: 0 0 10px;
        background: #f4fdfc;
        width: 100%;
        height: 35px;
    }
    
    .datepicker {
        position: relative;
    }
    
    .datepicker:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url("../images/calendar.png") no-repeat;
        right: 0;
        top: 11px;
        right: 8px;
        opacity: .6;
    }
    
    .selectedDB {
        color: #ff0000;
    }
    
    .login-form {
        padding-right: 25px;
        padding-bottom: 15px;
    }
    
    .login-form select {
        width: 100%;
        margin-bottom: 13px;
    }
    
    ul {
        list-style-type: none;
    }
    
    .btn-block {
        display: block;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    md-checkbox.md-checked .md-icon:after {
        border-color: #000;
    }
    
    .content-wrapper {
        max-width: 1200px;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    }
    
    .btn {
        background: #2a3f6b;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #374d77;
        padding: 8px 30px 5px;
    }
    
    .small-letter {
        font-size: 11px;
    }
    
    md-input-container>md-select {
        background: #fff;
    }
    
    input {
        color: #000;
    }
    
    .well {
        background: #FDFEFF;
        margin: 15px 0;
        padding: 10px;
        border: 1px solid #DEDEDF;
    }
    
    input[size] {
        width: auto;
    }
    
    .page .title {
        font-weight: bold;
        color: #2a3f6b;
        margin: 10px 0 5px 0px;
    }
    
    .page .label-title {
        color: #0f7bac;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .dblistpadding {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 51px;
    }
    /*.ui-grid-render-container-left .ui-grid-viewport{
        height: 100% !important;
    }*/
    
    .reports-title {
        font-weight: bold;
        color: #2a3f6b;
        margin: 10px 0 5px 25px;
    }
    
    p {
        font-weight: 700;
        margin: 7px 0;
        color: #565656;
    }
    
    .md-whiteframe-1dp,
    .md-whiteframe-z1 {
        border: 1px solid #ccc;
        background: #f4fdfc;
        box-shadow: 2px 2px 5px #ccc inset;
    }
    
    .digital-signForRevoke {
        padding-left: 140px;
        float: left;
        padding-top: -9px;
        margin-top: -6px;
        font-size: smaller;
        color: #ff0000;
    }
    
    .asset-maitenance {
        color: #D37773 !important;
    }
    
    .errorMessage45Day {
        color: red;
        font-size: large;
        padding-right: 2px;
    }
    
    .to-data-picker {
        margin-top: 20px;
    }
    
    .nolabel {
        margin-top: 20px;
        font-weight: 600;
    }
    
    aside {
        background: rgba(255, 255, 255, 0.3);
        position: relative;
        z-index: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px 10px;
    }
    
    aside:before {
        position: absolute;
        content: "";
        background: url("../Images/sidenavshadow.png") no-repeat;
        height: 100%;
        width: 7px;
        right: -6px;
        top: 0px;
    }
    
    aside:after {
        position: absolute;
        content: "";
        background: rgba(255, 255, 255, 0.5);
        height: 82px;
        right: 0;
        left: 0;
        top: 0;
        z-index: -1;
    }
    
    aside>ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    aside>ul>li {
        border: 1px solid #b4e3ef;
        padding: 10px 14px;
        margin: 18px 0 22px;
        box-shadow: 0 0px 4px #b4e3ef inset;
    }
    
    aside>ul>li.active {
        -webkit-box-shadow: 3px 3px 5px #b4e3ef;
        -moz-box-shadow: 3px 3px 5px #b4e3ef;
        box-shadow: 3px 3px 5px #b4e3ef;
        border: 1px solid #a2a2a2;
    }
    
    aside>ul>li.active a {
        color: #2a3f6b;
        font-weight: bold;
    }
    
    aside>ul>li.active span {
        color: #2a3f6b;
    }
    
    aside>ul>li a {
        text-transform: uppercase;
        color: #31383f;
        font-weight: 600;
    }
    
    aside>ul>li a:focus,
    aside>ul>li a:hover {
        text-decoration: none;
    }
    
    aside>ul>li a span {
        color: #147372;
    }
    
    aside>ul>li span {
        margin-top: 5px;
        margin-right: 10px;
    }
    
    aside .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    aside .dropdown {
        padding-left: 20px;
        margin-bottom: 15px;
    }
    
    aside .dropdown .title {
        color: #2f70b3;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 5px 5px 0;
    }
    
    aside .dropdown .title ::not(::last-child) {
        padding: 0 5px 5px 0;
    }
    
    aside .dropdown ul {
        list-style: none;
        padding: 0;
    }
    
    aside .dropdown ul li span {
        margin-right: 2px;
    }
    
    aside .dropdown ul li a {
        text-transform: capitalize;
        color: #565656;
        line-height: 20px;
    }
    
    #login {
        background: url("../Images/login-bg.jpg") no-repeat 0 0/cover;
        /* display: table; */
        /* width: 100%; */
        /* padding: 4%; */
        position: absolute;
        /* margin: 5% auto 0; */
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    
    #login .error-msg {
        position: absolute;
        top: -35px;
        font-weight: 700;
        color: #cd4443;
    }
    
    #login .alert {
        position: absolute;
        top: -35px;
        font-weight: 700;
        color: #22bb52;
    }
    
    #login .bg-wrapper {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 60px rgba(153, 217, 240, 0.7);
        position: relative;
    }
    
    #login .bg-wrapper .logo {
        margin: 35% 0;
    }
    
    #login .bg-wrapper .logo img {
        margin: auto;
    }
    
    #login .bg-wrapper .checkbox-container {
        margin-top: 40px;
        padding: 0;
    }
    
    #login .bg-wrapper .copyrights {
        color: #616161;
        text-align: center;
        font-weight: normal;
        font-size: 1rem;
    }
    
    #login .bg-wrapper input,
    #login .bg-wrapper i {
        color: #453283;
    }
    
    #login .bg-wrapper .title {
        color: #164171;
        font-weight: 700;
        font-size: 1.8rem;
        margin-left: -7px;
    }
    
    #login .bg-wrapper md-checkbox {
        text-transform: uppercase;
    }
    
    #login .bg-wrapper md-input-container.md-icon-right {
        padding-right: 0;
    }
    
    #login .bg-wrapper md-input-container.md-icon-right .md-errors-spacer {
        min-height: initial;
    }
    
    ._45-day-button {
        float: right;
        width: 115px;
        height: 34px;
        color: white;
        background: #2a3f6b;
        border: 1px solid #2a3f6b;
        margin-top: 3px;
    }
    
    .form-container {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid rgba(119, 119, 119, 0.12);
        background: rgba(255, 255, 255, 0.6);
        height: 67vh;
    }
    
    section {
        padding: 10px;
    }
    
    #reports md-checkbox {
        padding: 5px;
    }
    
    #reports md-checkbox.md-checked {
        background: rgba(255, 255, 255, 0.6);
        padding: 5px;
        width: 100%;
    }
    
    #reports md-checkbox .md-container {
        left: 10px;
    }
    
    #reports .sub-title {
        background: rgba(0, 0, 0, 0.14);
        padding: 5px 0;
        text-align: center;
        color: #565656;
        margin: 10px 0 20px;
    }
    
    #reports .label {
        color: #565656;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .reports-auto-select .md-whiteframe-1dp,
    .reports-auto-select .md-whiteframe-z1,
    .datepicker .ng-invalid-required {
        border: 1px solid rgba(221, 44, 0, 0.44);
        box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.16) inset;
    }
    
    .errorbox-shadow {
        border: 1px solid rgba(221, 44, 0, 0.44);
        box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.16) inset;
    }
    
    .upDateDatePicker label {
        display: block;
        margin: 0;
    }
    
    ul .admin-colapse {
        padding: 10px;
    }
    
    .caret-down:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url("../images/caret-down.png") no-repeat;
        right: 0;
        top: 15px;
        opacity: .6;
    }
    
    .toggle-section label {
        display: block;
    }
    
    .noti-item {
        font-weight: bold;
    }
    
    #test {
        background: #d4e8f2;
        margin: 1px 3px 0;
        color: #09445f;
        border-radius: 3px;
        padding: 5px 14px;
    }
    
    .noti-span {
        font-size: 75%;
    }
    
    .admin-panel {
        font-size: 20px;
        vertical-align: middle;
    }
    
    .admin-tab span {
        margin: 0;
    }
    
    .admin-label {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .refresh-client-data {
        padding-left: 35px;
        padding-right: 51px;
        padding-top: 10px;
    }
    
    .padding-top-row {
        padding-top: 10px;
    }
    
    .admin-left-icon {
        font-size: 12px !important;
    }
    
    .ui-grid-header-cell {
        background: #2a3f6b;
        color: #fff;
        font-weight: normal;
        text-align: center;
        border-color: #a2a2a2;
    }
    
    .custom-notification {
        width: 24%;
        padding-left: 4px;
        padding-bottom: 5px;
    }
    
    .digital-sign {
        margin-right: 180px;
        color: #ff0000;
    }
    
    .error-message {
        color: #2D7DBC;
        margin-left: 2px;
    }
    
    header.main-header {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header.main-header md-input-container {
        margin: 7px 0;
    }
    
    header.main-header .title {
        font-weight: 600;
    }
    
    header.main-header .notification-icon {
        font-size: 18px;
        color: #2a3f6b;
        position: relative;
    }
    
    header.main-header .notification-icon span {
        position: absolute;
        background: #ff4800;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        right: -2px;
        top: -3px;
        box-shadow: -1px 1px 0 #fff;
    }
    
    header.main-header .notification-icon span.green {
        background: #55e255;
    }
    
    .top-details {
        min-height: 65px;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.5);
    }
    
    .top-details span.title {
        color: #2a3f6b;
        font-weight: bold;
    }
    
    .top-details span.sub-title {
        color: #a2a2a2;
    }
    
    header.main-header .notification-icon span.green {
        background: #55e255;
    }
    
    .menudemoBasicUsage .md-menu-demo {
        padding: 24px;
    }
    
    .menudemoBasicUsage .menu-demo-container {
        min-height: 200px;
    }
    
    .page-heading {
        color: #CD4046;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    
    .bottom-footer {
        width: 100%;
        background: #eceff1;
        z-index: 999;
        bottom: 0;
        border-top: 1px solid #FFF;
        position: fixed;
    }
    
    .left-footer-logo {
        float: left;
        margin: 12px 0px -10px 0px;
    }
    
    .right-footer-logo {
        text-align: center;
        margin: 12px 0 5px;
        color: #636363;
        font-weight: inherit;
    }
    
    #dashboard .title {
        margin: 20px 0 10px 0px;
    }
    
    @media (min-width: 1920px) {
        .content-wrapper,
        .container,
        header.main-header {
            max-width: 1600px;
        }
        html,
        body {
            font-size: 1.1rem;
        }
        .form-container {
            height: 76vh;
        }
        #test {
            font-size: 13px;
        }
        aside>ul>li {
            padding: 10px 20px;
        }
    }
    /* Naheed  Dashboard */
    
    #adminDashboard .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    #fourtyDays .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    #grid45ii .ui-grid-header-cell .sortable {
        text-align: center;
        margin-left: 10px;
    }
    
    #editRelinquished md-dialog {
        margin: 0 auto !important;
    }
    
    #editRelinquished .md-whiteframe-1dp,
    #editRelinquished .md-whiteframe-z1 {
        margin: 5px !important;
    }
    
    #editRelinquished p {
        margin: 5px !important;
    }
    
    input#incorpdate {
        font-size: 13px !important;
    }
    
    span.fa.fa-filter {
        font-size: 19px;
    }
    
    #adminDashboard span.fa.fa-filter {
        margin-top: 13px;
    }
    
    ._720kb-datepicker-calendar-month span {
        color: #fff !important;
    }
    
    ._720kb-datepicker-calendar-header a {
        color: #fff !important;
    }
    
    .adminSearch {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #adminDashboard label {
        margin: 20px 3px 3px 0;
    }
    
    #adminDashboard input#searchAdmin {
        height: 30px;
    }
    
    .admin-btn {
        float: right;
        width: 115px;
        height: 32px;
        color: white;
        background: #2a3f6b;
        border: 1px solid #2a3f6b;
        border-radius: 4px;
        margin-right: 25px;
    }
    
    #adminDashboard input#search {
        height: 32px;
        width: 62%;
    }
    
    #adminDashboard .ui-grid-column-menu-button .ui-grid-icon-angle-down {
        display: none;
    }
    
    .ui-grid-cell-contents {
        font-size: 13px;
        margin-left: 7px;
    }
    
    #reportManage md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #reportsDetail md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #editRelinquished md-autocomplete .md-show-clear-button button {
        display: none;
    }
    
    #editRelinquished md-autocomplete .md-show-clear-button button md-icon {
        display: none;
    }
    
    #adminAaddNewUser .layout-row>.flex {
        margin-left: 5px !important;
    }
    
    #adminAaddNewUser {
        height: 89%;
        margin: 0 auto;
    }
    
    #adminAaddNewUser md-dialog {
        margin: 0 auto !important;
        max-width: 100%;
    }
    
    #adminAaddNewUser md-checkbox {
        border-radius: 50%;
    }
    
    #changePswd md-tooltip {
        font-size: 19px;
    }
    
    #adminDashboard .ui-grid-pager-row-count-picker {
        visibility: hidden;
    }
    
    #adminDashboard .ui-grid-pager-panel {
        padding-bottom: 0px !important;
        bottom: -3px !important;
    }
    
    .checkUsername {
        color: #cd4443;
    }
    
    #adminDashboard .ui-grid-canvas {
        color: inherit !important;
        font-weight: normal !important;
    }
    
    #adminAaddNewUser span.help-block {
        color: #cd4443;
    }
    
    #assetMaintain .ui-grid-cell-contents {
        font-size: 10px;
        margin-left: 0px !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        text-align: center;
        padding-bottom: 0;
        height: 39px;
    }
    
    #adminAaddNewUser button#closeOpt {
        margin-right: 33px;
    }
    /*#editRelinquished input#liaRel
{
text-align:right;
}*/
    
    #adminAaddNewUser select {
        color: #3A4457 !important;
        font-weight: normal !important;
    }
    
    #adminDashboard .ui-grid-cell-contents {
        margin-left: 12px !important;
    }
    
    .grid.asset-tabel {
        min-height: 245px;
        height: auto !important;
    }
    
    .asset-sub .ui-grid-viewport,
    .asset-sub {
        height: auto !important;
    }
    
    .ui-grid-pager-row-count-label {
        display: none;
    }
    
    .asset-grid .ui-grid-render-container-body .ui-grid-header-cell,
    .asset-grid .ui-grid-render-container-left .ui-grid-header-cell,
    .asset-grid .ui-grid-header-cell {
        height: 20px !important;
    }
    
    .ui-grid-cell {
        padding-left: 5px;
    }
    
    @media (max-width: 1400px) {
        #adminAaddNewUser md-checkbox .md-label {
            font-size: 17px;
        }
    }
    
    #adminAaddNewUser md-checkbox .md-label {
        font-size: 13px;
    }
    
    .toggle-section label {
        font-size: 14px;
    }
    
    .update-asset p {
        font-size: 14px;
    }
    
    @media (min-width: 1600px) {
        #label-ToDate {
            top: 6px;
        }
        .asset-sub .ui-grid-row:last-child .ui-grid-cell {
            height: 60px;
        }
    }
    /* Naheed 1080p Code */
    
    @media (min-width: 1300px) {
        div#grid45i {
            height: 152px;
        }
        div#grid45ii {
            height: 152px;
        }
        div#grid45i45 {
            height: 152px;
        }
        div#grid45ii452 {
            height: 152px;
        }
        div#reliqn {
            height: 145px;
        }
        div#recentSub {
            height: 145px;
        }
        div#replacemntID {
            height: 145px;
        }
        .errData {
            color: #d9534f;
            margin-top: -73px;
            text-align: center;
            font-size: 16px;
        }
    }
    
    @media (min-width: 1900px) {
        div#gridAdmin {
            height: 610px !important;
        }
        .grid.asset-tabel {
            height: 700px;
        }
        div#grid45i {
            height: 280px;
        }
        div#grid45ii {
            height: 280px;
        }
        div#reliqn {
            height: 230px;
        }
        div#replacemntID {
            height: 230px;
        }
        div#grid45i45 {
            height: 270px;
        }
        div#recentSub {
            height: 500px;
        }
        div#grid45ii452 {
            height: 270px;
        }
        div#assetGrid {
            height: 450px !important;
        }
        div#gridAdmin .ui-grid-row {
            font-size: 15px;
        }
        #adminDashboard .ui-grid-cell-contents {
            font-size: 14px;
        }
        .admin-btn {
            font-size: 16px;
        }
        #adminAaddNewUser .form-input {
            height: 39px !important;
        }
        .errData {
            color: #d9534f;
            margin-top: -153px;
            text-align: center;
        }
        #assetMaintain .errData {
            margin-top: -236px;
        }
        #adminAaddNewUser md-dialog {
            margin: 60px auto !important;
            max-width: 100%;
        }
    }
    
    #uiDashboard .ui-grid-viewport {
        overflow-x: hidden;
        overflow-y: auto !important;
    }
    
    .layout-row>.flex-19 {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 152px;
        max-height: 100%;
        box-sizing: border-box;
    }
    
    #assetMaintain .datepicker>div {
        right: 0;
    }
    /* Naheed */
    
    #editRelinquished input#liaRel {
        text-align: right;
    }
    
    div#gridAdmin .ui-grid-row {
        font-size: 13px;
    }
    
    #adminDashboard .ui-grid-cell-contents {
        font-size: 13px;
    }
    
    div#grid45ii .ui-grid-row {
        font-size: 13px;
    }
    
    div#grid45i .ui-grid-row {
        font-size: 13px;
    }
    
    div#grid45i45 .ui-grid-row {
        font-size: 13px;
    }
    
    div#grid45ii452 .ui-grid-row {
        font-size: 13px;
    }
    
    div#replacemntID .ui-grid-row {
        font-size: 13px;
    }
    
    div#recentSub .ui-grid-row {
        font-size: 13px;
    }
    
    #uiDashboard .ui-grid-cell-contents {
        font-size: 13px;
    }
    
    #fourtyDays .ui-grid-cell-contents {
        font-size: 13px;
    }
    
    div#reliqn .ui-grid-row {
        font-size: 13px;
    }
    
    #relinquished .ui-grid-cell-contents {
        font-size: 13px;
    }
    
    .ui-grid-row {
        color: #2a3f6b !important;
        font-size: 13px;
    }
    
    @media all and (-ms-high-contrast:none) {
        #adminDashboard .ui-grid-cell-contents {
            font-size: 10px;
        }
        #uiDashboard .ui-grid-cell-contents {
            font-size: 10px;
        }
        #relinquished .ui-grid-cell-contents {
            font-size: 10px;
        }
        #fourtyDays .ui-grid-cell-contents {
            font-size: 10px;
        }
        .ui-grid-cell-contents {
            font-size: 10px;
        }
        div#grid45i .ui-grid-row {
            font-size: 11px;
        }
        div#grid45ii .ui-grid-row {
            font-size: 11px;
        }
        div#grid45i45 .ui-grid-row {
            font-size: 11px;
        }
        div#grid45ii452 .ui-grid-row {
            font-size: 11px;
        }
        div#reliqn .ui-grid-row {
            font-size: 11px;
        }
        div#replacemntID .ui-grid-row {
            font-size: 11px;
        }
        label.assetMain {
            font-size: 11px;
        }
        #assetMaintain .ui-grid-cell-contents {
            font-size: 8px;
        }
        .ui-grid-row {
            font-size: 11px;
        }
        div#gridAdmin .ui-grid-row {
            font-size: 11px;
        }
        .admin-btn {
            margin-right: -25px;
        }
        #reportManData md-checkbox .md-label {
            font-size: 11px;
        }
        #adminAaddNewUser md-checkbox .md-label {
            font-size: 11px;
        }
        aside>ul>li a span {
            font-size: 16px;
        }
        #login .alert {
            width: 100%;
            margin: 0 auto;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            font-size: 13px;
        }
         ::-ms-backdrop,
        #adminDashboard .ui-grid-cell-contents {
            font-size: 10px;
        }
         ::-ms-backdrop,
        #uiDashboard .ui-grid-cell-contents {
            font-size: 10px;
        }
         ::-ms-backdrop,
        #relinquished .ui-grid-cell-contents {
            font-size: 10px;
        }
         ::-ms-backdrop,
        #fourtyDays .ui-grid-cell-contents {
            font-size: 10px;
        }
         ::-ms-backdrop,
        .ui-grid-cell-contents {
            font-size: 10px;
        }
         ::-ms-backdrop,
        div#grid45i .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#grid45ii .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#grid45i45 .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#grid45ii452 .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#reliqn .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#replacemntID .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        label.assetMain {
            font-size: 11px;
        }
         ::-ms-backdrop,
        #assetMaintain .ui-grid-cell-contents {
            font-size: 8px;
        }
         ::-ms-backdrop,
        .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        div#gridAdmin .ui-grid-row {
            font-size: 11px;
        }
         ::-ms-backdrop,
        .admin-btn {
            margin-right: -25px;
            font-size: 13px;
        }
         ::-ms-backdrop,
        #reportManData md-checkbox .md-label {
            font-size: 11px;
        }
    }
    
     ::-ms-backdrop,
    #adminAaddNewUser md-checkbox .md-label {
        font-size: 11px;
    }
    
     ::-ms-backdrop,
     :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 13px;
    }
    
     ::-ms-backdrop,
    #adminAaddNewUser {
        height: 89%;
        width: 71%;
        margin: 0 auto;
        margin-right: 270px;
    }
    /*@media all and (min-width:1920px){
aside > ul > li a span {
    font-size: 1.1rem;
}}*/
    
     ::-ms-backdrop,
    #login .alert {
        width: 100%;
        margin: 0 auto;
    }
    
    @media (min-width: 1900px) {
        aside>ul>li a span {
            font-size: 16px;
        }
         ::-ms-backdrop,
        #adminAaddNewUser {
            height: 63%;
            width: 71%;
            margin: 0 auto;
            margin-right: 270px;
        }
         ::-ms-backdrop,
        #editRelinquished {
            height: 63%;
            width: 71%;
            margin: 0 auto;
            margin-right: 270px;
        }
    }
    /*
@media (min-width: 1900px) {
    aside>ul>li a span {
        font-size: 16px;
    }
     ::-ms-backdrop,
    #adminAaddNewUser {
        height: 89%;
        width: 71%;
        margin: 0 auto;
        margin-right: 270px;
    }
     ::-ms-backdrop,
    #editRelinquished {
        height: 63%;
        width: 71%;
        margin: 0 auto;
        margin-right: 270px;
    }
}*/
    
    @media (min-width: 1300px) {
         ::-ms-backdrop,
        aside>ul>li a span {
            font-size: 13px;
        }
    }
    
    @media (min-width: 1300px) {
         ::-ms-backdrop,
        #adminAaddNewUser {
            height: 89%;
            width: 88%;
            margin: 0 auto;
        }
    }
    
    @media (min-width: 1300px) {
         ::-ms-backdrop,
        #adminAaddNewUser md-dialog {
            margin: 60px auto !important;
            max-width: 100%;
            margin-right: 150px !important;
        }
    }
    
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: Helvetica Neue, Arial, sans-serif;
    }
    
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: Helvetica Neue, Arial, sans-serif;
    }
    
     :-ms-input-placeholder {
        /* IE 10+ */
        font-family: Helvetica Neue, Arial, sans-serif;
    }
    
     :-moz-placeholder {
        /* Firefox 18- */
        font-family: Helvetica Neue, Arial, sans-serif;
    }
    
    .instruction-msg {
        color: #d9534f;
    }
    /*@media (min-width:1900px) and (-ms-high-contrast:none) {
    .foo {
        color: green
    }
  
}*/
    
    @media all and (min-width:1900px) and (-ms-high-contrast:none) {
         ::-ms-backdrop,
        #adminAaddNewUser md-dialog {
            margin: 60px auto !important;
            max-width: 100%;
            margin-right: 400px !important;
        }
    }