<div ui-view class="form-container" id="fourtyDays">
    <div id="day45" layout="row" class="page">
        <div class="col-sm-12">
            <div>
                <div class="title"> Upcoming 45-Day ID Deadlines
                    <div class="pull-right">
                        <span class="fa fa-filter" ng-click="enableUpComingDeadLinesFilter()"><md-tooltip md-direction="top">Filter</md-tooltip></span>
                    </div>
                </div>
            </div>
            <div id="grid45i45" ui-if="upComingDeadLinesIDs.data.length>0" ui-grid="upComingDeadLinesIDs" ui-grid-auto-resize class="grid">
                <p ng-if="upComingDeadLinesIDs.data.length==0" class="errData"> No data found </p>
            </div>
            <div><button type="button" class="_45-day-button" ng-click="_45DayIDClicked($event)">45-Day ID</button></div>
            <!--<div class="pull-right">
                    <span ng-show="is45RowSelected" class="errorMessage45Day"> There are no selected IDs</span>
            </div>--><br><br>
            <div class="title">RECENTLY SUBMITTED IDENTIFICATIONS
                <div class="pull-right">
                    <span class="fa fa-filter" ng-click="enableRecentlySubmittedFilter()"><md-tooltip md-direction="top">Filter</md-tooltip></span>
                </div>
            </div>
            <div id="grid45ii452" ui-if="gridRecentlySubmittedIds.data.length>0" ui-grid="gridRecentlySubmittedIds" ui-grid-auto-resize class="grid">
                <p ng-if="gridRecentlySubmittedIds.data.length==0" class="errData"> No data found </p>
            </div>
            <div><button type="button" class="_45-day-button" ng-click="revokeBtnClicked($event)">REVOKE</button></div>
            <!--<div class="pull-right">
                    <span ng-show="isRecentlySubRowSel" class="errorMessage45Day"> There are no selected IDs</span>
            </div>-->
        </div>
    </div>
</div>