<div class="form-container">
    <div id="recently-submissions" layout="row" class="page">

        <div class="col-sm-12">

            <div class="title">RECENTLY SUBMITTED IDENTIFICATIONS
                <div class="pull-right">
                    <span class="fa fa-filter" ng-click="enableRecentlySubIdsFilter()"><md-tooltip md-direction="top">Filter</md-tooltip></span>
                </div>
            </div>

            <div id="recentSub" ui-if="recentSubmissionsGrid.data.length>0" ui-grid="recentSubmissionsGrid" ui-grid-auto-resize class="grid">
                <p ng-if="recentSubmissionsGrid.data.length==0" class="errData"> No data found </p>
            </div>
            <div class="row well">
                <div class="col-sm-6">
                    By typing my name in the box and clicking ‘Submit’, I will apply my electronic signature to this written revocation of the previously submitted identification and send the revocation to the qualified intermediary.
                </div>
                <div class="col-sm-6 text-right">
                    <div class="ele-sig">

                        <input type="text" class="form-input" ng-change="revokeInputChanged()" ng-model="revokeSignature" size="30"> <button class="btn primary" ng-click="revokeAssetIds($event)">SUBMIT</button>
                    </div>

                    <div>
                        <!--revokeEerrorMessage-->
                        <!--<span ng-show="revokeEerrorMessage" class="digital-signForRevoke">Signature is required</span>-->
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>