<div ui-view class="form-container">
    <div id="relinquished" ui-view layout="row" class="page">

        <div class="col-sm-12">

            <div class="title">RELINQUISHED ASSET(S)
                <div class="pull-right">
                    <span class="fa fa-filter" ng-click="enableRelenquishedAssetFilter()"><md-tooltip md-direction="top">Filter</md-tooltip></span>
                </div>
            </div>

            <div ui-if="relinquishedAssetGrid.data.length>0" id="reliqn" ui-grid="relinquishedAssetGrid" ui-grid-auto-resize class="grid">
                <p ng-if="relinquishedAssetGrid.data.length==0" class="errData"> No data found </p>
            </div>
            <div class="title">IDENTIFY REPLACEMENT ASSET(S)</div>
            <div ui-if="replacementAssetGrid.data.length>0" id="replacemntID" ui-grid="replacementAssetGrid" ui-grid-auto-resize class="grid">

            </div>
            <div class="row" style="margin-right: 10px;">
                <div class="col-sm-2 pull-right text-center">
                    <p>{{totalFMVTotal.toFixed(2) | currency: "$" : 0}}</p>

                </div>
                <div class="col-sm-2 pull-right text-center">
                    <p>{{quantitTotal}}</p>

                </div>
                <div class="col-sm-2 pull-right text-center">
                    <p>Total</p>


                </div>
            </div>
            <div class="row well">
                <div class="col-sm-6">
                    By typing my name in the box and clicking ‘Submit’, I will apply my electronic signature to this identification of replacement assets and send the identification to the qualified intermediary.

                </div>
                <div class="col-sm-6 text-right">
                    <form name="subSignForm" novalidate>
                        <div class="ele-sig">
                            <input type="text" class="form-input" name="subsign" required ng-change="subMitInputChanged(sub_signature)" ng-model="sub_signature" size="30"> <button class="btn primary" ng-click="submitBtnclicked(sub_signature,$event)" type="submit">Submit</button>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-0 text-center">
                                <div>
                                    <!--ng-show="submitted && subSign-form.sub_signature.$error.required"-->
                                    <!--<span ng-show="errorMessage" class="digital-sign">Signature is required</span>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>