<div ui-view class="form-container page">
    <form name="taxInfoFrom" novalidate>
        <div layout="row">
            <div class="col-sm-4">
                <div layout="row">
                    <label class="title">tax year</label>
                </div>
                <div layout="row">
                    <input type="text" ng-model="taxYear" name="taxyr" class="form-input"/>
                </div>
            </div>
        </div>
        <div>
            <!--errorbox-shadow-->
            <div layout="row">
                <div class="col-sm-6">
                    <div layout="row">
                        <label class="title label-title">TAX RETURN INFORMATION</label>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">TAX ID NUMBER</label>
                        <div class="col-sm-8"><input type="text" name="taxId" ng-model="taxRetInfo.taxIDNum" class="form-input" ng-class="{'errorbox-shadow' : taxInfoFrom.taxId.$error.required && taxInfoFrom.taxId.$dirty}" required/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">TAX YEAR END</label>
                        <div class="col-sm-8"><input type="text" name="taxYr" ng-model="taxRetInfo.taxYrEnd" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.taxYr.$error.required && taxInfoFrom.taxYr.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">TAX FILLING DUE DATE</label>
                        <div class="col-sm-8"><input type="text" name="taxFillingDate" ng-model="taxRetInfo.taxFillDueDate" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.taxFillingDate.$error.required && taxInfoFrom.taxFillingDate.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">EXTEND TAX FILLING DUE DATE</label>
                        <div class="col-sm-8"><input type="text" name="exttaxFillingDt" ng-model="taxRetInfo.extTaxDueDate" class="form-input" ng-class="{'errorbox-shadow' : taxInfoFrom.exttaxFillingDt.$error.required && taxInfoFrom.exttaxFillingDt.$dirty}" required/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">SHORT TAX YEAR</label>
                        <div class="col-sm-8"><input type="text" name="shorttaxYr" ng-model="taxRetInfo.shortTaxYr" class="form-input" ng-class="{'errorbox-shadow' : taxInfoFrom.shorttaxYr.$error.required && taxInfoFrom.shorttaxYr.$dirty}" required/></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div layout="row">
                        <label class="title label-title">TAX DEPRECIATION INFORMATION</label>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">REGULAR TAX</label>
                        <div class="col-sm-8"><input type="text" name="ragularTax" ng-model="taxDepInfo.regTax" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.ragularTax.$error.required && taxInfoFrom.ragularTax.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">AMT</label>
                        <div class="col-sm-8"><input type="text" name="amtLabel" ng-model="taxDepInfo.amt" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.amtLabel.$error.required && taxInfoFrom.amtLabel.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">BOOK</label>
                        <div class="col-sm-8"><input type="text" name="bookLabel" ng-model="taxDepInfo.book" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.bookLabel.$error.required && taxInfoFrom.bookLabel.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">CONVENTION</label>
                        <div class="col-sm-8"><input type="text" name="conventionLabel" ng-model="taxDepInfo.convention" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.conventionLabel.$error.required && taxInfoFrom.conventionLabel.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">BONUS DEPRECIATTION</label>
                        <div class="col-sm-8"><input type="text" name="bonusDepreciation" ng-model="taxDepInfo.bonusDep" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.bonusDepreciation.$error.required && taxInfoFrom.bonusDepreciation.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">DEPRECIATION STATE</label>
                        <div class="col-sm-8 pull-left"><input type="text" name="depreciationState" ng-model="taxDepInfo.depState" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.depreciationState.$error.required && taxInfoFrom.depreciationState.$dirty}"/></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div layout="row">
                <div class="col-sm-6">
                    <div layout="row">
                        <label class="title label-title">BANK INFORMATION</label>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">NAME OF ACCOUNT HOLDER </label>
                        <div class="col-sm-8"><input type="text" name="accountHolder" ng-model="bankInfo.accountHolder" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.accountHolder.$error.required && taxInfoFrom.accountHolder.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">BANK NAME</label>
                        <div class="col-sm-8"><input type="text" name="bankName" ng-model="bankInfo.bankName" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.bankName.$error.required && taxInfoFrom.bankName.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">BANK CITY</label>
                        <div class="col-sm-8"><input type="text" name="bankCity" ng-model="bankInfo.bankCity" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.bankCity.$error.required && taxInfoFrom.bankCity.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">BANK STATE</label>
                        <div class="col-sm-8"><input type="text" name="bankState" ng-model="bankInfo.bankSate" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.bankState.$error.required && taxInfoFrom.bankState.$dirty}"/></div>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div layout="row">
                        <label class="title label-title">LIABILITY INFORMATION</label>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">NAME OF THE LENDER</label>
                        <div class="col-sm-8"><input type="text" name="landerName" ng-model="liabilityInfo.lenderName" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.landerName.$error.required && taxInfoFrom.landerName.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">LOAN AGREEMENT</label>
                        <div class="col-sm-8"><input type="text" name="loanAgreement" ng-model="liabilityInfo.loanAgreement" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.loanAgreement.$error.required && taxInfoFrom.loanAgreement.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">LOAN NUMBER</label>
                        <div class="col-sm-8"><input type="text" name="loanNumber" ng-model="liabilityInfo.loanNumber" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.loanNumber.$error.required && taxInfoFrom.loanNumber.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">LOAN DATE</label>
                        <div class="col-sm-8"><input type="text" name="loanDate" ng-model="liabilityInfo.loanDate" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.loanDate.$error.required && taxInfoFrom.loanDate.$dirty}"/></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div>
            <div layout="row">
                <div class="col-sm-6">
                    <div layout="row">
                        <label class="title label-title">PROGRAM INFORMATION</label>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">NAME OF Q1 </label>
                        <div class="col-sm-8"><input name="nameOfQ1" type="text" ng-model="progInfo.q1Name" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.nameOfQ1.$error.required && taxInfoFrom.nameOfQ1.$dirty}"/></div>
                    </div>
                    <div layout="row">
                        <label class="col-sm-4 title text-right">LIABILITY NETTING</label>
                        <div class="col-sm-8"><input name="liabilityNetting" type="text" ng-model="progInfo.liabilityNetting" class="form-input" required ng-class="{'errorbox-shadow' : taxInfoFrom.liabilityNetting.$error.required && taxInfoFrom.liabilityNetting.$dirty}"/></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div>
            <div layout="row" class="savebtn-align">
                <div class="col-sm-12">
                    <a class="asset-maitenance label-title">SAVE</a>
                </div>
                
            </div>
        </div>
    </form>
</div>