﻿<!--CSS-->
<!--angular material-->
<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />

<!--application css-->
<script src="https://use.fontawesome.com/54184d59e4.js"></script>

<link rel="stylesheet" href="../style/bootstrap.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<link href="../bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet">
<link href="../style/angular-ui-notification.css" rel="stylesheet">
<link href="../bower_components/angular-ui-grid/ui-grid.css" rel="stylesheet">
<link rel="stylesheet" href="../style/styles.css" />



<!--javascript-->
<!--jquery-->
<script src="../bower_components/jquery/dist/jquery.js"></script>

<!--angularjs-->
<script src="../bower_components/angular/angular.js"></script>

<!--angular material-->
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>

<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>

<script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
<!--notification angular js library-->
<script src="../Services/angular-ui-notification.js"></script>



<!--application js-->
<script src="../app.js"></script>



<!--application data services-->
<script src="../Services/ReportsDataService.js"></script>
<script src="../Services/ConsoleService.js"></script>
<script src="../Services/LoginService.js"></script>
<script src="../Services/LoadingService.js"></script>
<script src="../Services/NotificationService.js"></script>


<!--application controllers-->

<script src="../MainCtrl.js"></script>
<script src="../modules/Login/loginCTRL.js"></script>
<script src="../modules/Dashboard/dashboardCTRL.js"></script>
<script src="../modules/Reports/reportsCTRL.js"></script>
<script src="../modules/Reports/reportsDetailsCTRL.js"></script>