<div id="adminAaddNewUser" md-theme="{{theme}}" class="container dialogdemoThemeInheritance">
    <md-dialog aria-label="IDENTIFY REPLACEMENT ASSET(S)">
        <form class="form-inline" ng-cloak ng-submit="$event.preventDefault()" name="addNewUserForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h6 ng-if="!updateBtn"> ADD NEW USER </h6>
                    <h6 ng-if="updateBtn"> UPDATE USER </h6>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout="row" layout-sm="column">
                        <div flex>
                            <div class="form-group">
                                <label>First Name<sup class="checkUsername"> * </sup></label>
                                <input type="text" class="form-input" required name="firstName" placeholder="Enter first name" ng-model="newUser.firstName" ng-required="true">
                            </div>
                            <div class="form-group">
                                <label>Email<sup class="checkUsername"> * </sup></label>
                                <input type="text" class="form-input" required name="email" placeholder="Enter email" ng-model="newUser.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-required="true">
                                <span ng-show="addNewUserForm.email.$invalid && !addNewUserForm.email.$pristine" class="checkUsername help-block"> Enter a valid email id </span>
                            </div>

                            <div>
                                <label>User Name<sup class="checkUsername"> * </sup></label>
                                <input type="text" class="form-input" ng-readonly="IsUsernameReadonly" required name="userName" ng-blur="checkUsernameExist(newUser.webUserName)" placeholder="Enter user name" ng-model="newUser.webUserName" ng-required="true">
                                <span class="checkUsername" ng-if="newUser.isWebUserNameExist"> User name already exists  </span>
                            </div>

                            <!--<div>
                                <label>Security Question</label>
                                <select class="form-input" ng-model="newUser.securityQuestion" ng-options="quesList.que as quesList.que for quesList in quesListArray">
                                    <option value=""> Select any security question </option>
                                </select>
                            </div>-->

                            <div>
                                <label>Roles<sup class="checkUsername"> * </sup></label>
                                <select class="form-input" ng-model="newUser.roleDesc" ng-change="selectedRole()" ng-options="roles.roleDesc for roles in rolesList">
                                </select>
                            </div>
                            <div></div>
                        </div>

                        <div flex>
                            <div>

                                <label>Last Name<sup class="checkUsername"> * </sup></label>
                                <input type="text" class="form-input" required name="lastName" placeholder="Enter last name" ng-model="newUser.lastName" ng-required="true">
                            </div>

                            <div>
                                <label>Mobile No</label>
                                <input type="text" string-to-number class="form-input" ng-change="validatePhoneNumber(newUser.phone)" name="mobileNo" placeholder="Enter Mobile number" ng-model="newUser.phone">
                            </div>

                            <div>
                                <label>Password<sup class="checkUsername"> * </sup></label>
                                <input type="password" name="password" ng-readonly="IsPasswordReadOnly" class="form-input" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-minlength="8" required placeholder="Enter password" ng-model="newUser.webUserPassword"
                                    ng-required="true">
                                <span ng-show="addNewUserForm.password.$invalid && !addNewUserForm.password.$pristine" class="help-block"> Minimum of 8 characters having at least a capital letter, a small letter, a number and a special character like @, !, #, $ or %. </span>
                                <!--<span ng-show="addNewUserForm.password.$dirty &&  addNewUserForm.password.$error.required"> Password Crieria Matched   </span>
                                <span ng-show="addNewUserForm.password.$dirty && !addNewUserForm.password.$error.password"> 8 characters (A-Z,a-z,0-9, !,@,#,% only) </span>-->

                            </div>
                            <!--<div>
                                <label>Security Answer</label>
                                <input type="text" class="form-input" name="securityAns" placeholder="Enter security answer" ng-model="newUser.securityAnswer">
                            </div>-->
                        </div>
                    </div>
                    <hr>

                    <div layout="row" layout-wrap>
                        <div flex="5">

                        </div>

                        <div flex="20">
                            <md-checkbox ng-repeat="list in firstRadioGroupDBList track by $index" ng-model="firstRadioGroup[list.id]" ng-init="firstRadioGroup[list.id] = exists(list, selected)" ng-click="toggle(list, selected,firstRadioGroup[list.id])">

                                {{list.actualDbaseName}}
                            </md-checkbox>
                        </div>

                        <div flex="19" style="margin-left:25px;">

                            <md-checkbox ng-repeat="list in secondRadioGroupDBList track by $index" ng-model="secondRadioGroup[list.id]" ng-init="secondRadioGroup[list.id] = exists(list, selected)" ng-click="toggle(list, selected,secondRadioGroup[list.id])">

                                {{list.actualDbaseName}}
                            </md-checkbox>
                        </div>

                        <div flex="15" style="margin-left:25px;">

                            <md-checkbox ng-repeat="list in thirdRadioGroupDBList track by $index" ng-model="thirdRadioGroup[list.id]" ng-init="thirdRadioGroup[list.id] = exists(list, selected)" ng-click="toggle(list, selected,thirdRadioGroup[list.id])">

                                {{list.actualDbaseName}}
                            </md-checkbox>

                        </div>

                        <div flex="15" style="margin-left:25px;">

                            <md-checkbox ng-repeat="list in fourthRadioGroupDBList track by $index" ng-model="fourthRadioGroup[list.id]" ng-init="fourthRadioGroup[list.id] = exists(list, selected)" ng-click="toggle(list, selected,fourthRadioGroup[list.id])">

                                {{list.actualDbaseName}}
                            </md-checkbox>
                        </div>
                        <div flex="19" style="margin-left:25px;">
                            <md-checkbox ng-repeat="list in fifthRadioGroupDBList track by $index" ng-model="fifthRadioGroup[list.id]" ng-init="fifthRadioGroup[list.id] = exists(list, selected)" ng-click="toggle(list, selected,fifthRadioGroup[list.id])">

                                {{list.actualDbaseName}}
                            </md-checkbox>
                        </div>
                        <div flex="5">

                        </div>
                    </div>
                    <hr>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="addNewUsers(newUser)" id="addOpt" ng-if="!updateBtn" ng-disabled="addNewUserForm.$invalid" class="md-raised md-primary"> ADD </md-button>
                <md-button ng-click="addNewUsers(newUser)" id="updateOpt" ng-if="updateBtn" ng-disabled="addNewUserForm.$valid" class="md-raised md-primary"> UPDATE </md-button>
                <md-button ng-click="hide()" id="closeOpt" class="md-raised md-warn">CLOSE</md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>