<div id="editRelinquished" md-theme="{{theme}}" class="container dialogdemoThemeInheritance">
    <md-dialog aria-label="IDENTIFY REPLACEMENT ASSET(S)">
        <form ng-cloak ng-submit="$event.preventDefault()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2> ADD IDENTIFY REPLACEMENT ASSET(S) </h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout="row" layout-wrap>
                        <div flex="33">
                            <p> MAKE/MODEL CODE </p>

                            <md-autocomplete md-input-name="makeModelCode" md-selected-item="editIdentityAssets.selectedItemTaxYearLMR" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Enter Make/Model Case">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>

                        </div>
                        <div flex="33">
                            <p> FMV </p>
                            <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Enter FMV Value" md-autofocus="">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div flex="33">
                            <p> QUANTITY </p>
                            <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Enter Quantity" md-autofocus="">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>

                    </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="cancel()" class="md-raised md-warn">CANCEL</md-button>
                <md-button ng-click="answer('useful')" class="md-raised md-primary">SAVE</md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>