<div id="editRelinquished" md-theme="{{theme}}" class="container dialogdemoThemeInheritance">
    <md-dialog aria-label="IDENTIFY REPLACEMENT ASSET(S)">
        <form ng-cloak ng-submit="$event.preventDefault()" name="editDialogForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 ng-if="!isEdit"> Identification of Replacement Asset(s) </h2>
                    <h2 ng-if="isEdit"> EDIT IDENTIFY REPLACEMENT ASSET(S) </h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout="row" layout-wrap>
                        <div flex="33">
                            <p> MAKE/MODEL CODE </p>

                            <md-autocomplete id="makeModel" ng-class="{'reports-auto-select caret-down' : editDialogForm.makeModel.$error.required && editDialogForm.makeModel.$dirty}" md-selected-item="modelSelected" md-selected-item-change="makeModelChange(modelSelected, searchText)"
                                md-search-text="searchText" md-items="item in makeModelDropDownObj | filter:searchText" md-item-text="item.makeModelValue" md-min-length="0" placeholder=" Select Make/Model Code" ng-required="true" md-input-name="makeModel">
                                <md-item-template>

                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.makeModelValue}}</span>
                                </md-item-template>

                                <md-not-found>
                                    No Make/Model matching "{{searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>

                        </div>
                        <!--makeModObj.modelCode-->

                        <div flex="33">
                            <p> ASSET CATEGORY </p>

                            <input type="text" class="form-input" required name="assetCategory" placeholder="Asset Category" ng-model="makeModObj.assetClass" ng-readonly="true">
                        </div>
                        <div flex="30" style="margin-left: 4px;">
                            <p> FMV($) </p>

                            <input type="text" class="form-input" required name="fmv" placeholder="Enter FMV Value" ui-number-mask="0" ng-change="fmvORQuantityChanged()" ng-model="makeModObj.fmv">
                            <br><span ng-show="editDialogForm.fmv.$error.required" class="instruction-msg">FMV must be a Number</span>

                        </div>
                        <div flex="33">
                            <p> QUANTITY </p>
                            <input type="text" class="form-input" required placeholder="Enter Quantity Value" ui-number-mask="0" ui-hide-group-sep name="quantity" ng-change="fmvORQuantityChanged()" ng-model="makeModObj.quantity">
                            <br><span ng-show="editDialogForm.quantity.$error.required" class="instruction-msg">Quantity must a be Number</span>
                        </div>
                        <div flex="33" style="margin-left: 5px;">
                            <p> TOTAL FMV($) </p>
                            <input class="form-input" type="text" ui-number-mask="0" placeholder="Total FMV" ng-model="makeModObj.totalFmv" ng-readonly="true">
                        </div>

                    </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button ng-click="hide()" class="md-raised md-warn">CANCEL</md-button>

                <md-button ng-click="submit(makeModObj)" class="md-raised md-primary" ng-disabled="editDialogForm.fmv.$error.required || editDialogForm.quantity.$error.required || editDialogForm.makeModel.$error.required || isAssetSelected">
                    SAVE</md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>