<div id="editRelinquished" md-theme="{{theme}}" class="container dialogdemoThemeInheritance">
    <md-dialog aria-label="IDENTIFY REPLACEMENT ASSET(S)">
        <form ng-cloak ng-submit="$event.preventDefault()" name="editAssetMantenanceForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h6> UPDATE ASSET DETAILS </h6>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div layout="row" class="update-asset" layout-wrap>
                        <div flex="33">
                            <p> LIABILITY RELIEVED </p>

                            <input type="text" class="form-input" id="liaRel" ui-number-mask="2" ng-model="assetMaintenance.liabilityRelieved" required>
                        </div>
                        <div flex="30" style="margin-left: 4px;">
                            <p> LIABILITY ASSUMED </p>

                            <input type="text" class="form-input" id="liaRel" ui-number-mask="2" ng-model="assetMaintenance.liabilityAssumed" required>


                        </div>
                        <div flex="33" style="margin-left: 4px;">
                            <p> BOOT </p>
                            <input type="text" class="form-input" id="liaRel" ui-number-mask="2" ng-model="assetMaintenance.bootReceived" required/>

                        </div>

                    </div>
                    <div flex="" layout="row" layout-wrap class="toggle-section">
                        <div flex="25">
                            <label> LKE ELIGIBLE (SALE) </label>
                            <toggle-switch ng-model="assetMaintenance.lkeEligible" on-label="YES" off-label="NO">
                            </toggle-switch>
                        </div>
                        <div flex="25">
                            <label> LKE ELIGIBLE (PURCHASE) </label>
                            <toggle-switch ng-model="assetMaintenance.lkeEligible_Purchase" on-label="YES" off-label="NO">
                            </toggle-switch>
                        </div>
                        <div flex="25">
                            <label> RELATED PARTY (SALE) </label>
                            <toggle-switch ng-model="assetMaintenance.relatedPartySale" on-label="YES" off-label="NO">
                            </toggle-switch>
                        </div>
                        <div flex="25">
                            <label> RELATED PARTY (PURCHASE) </label>
                            <toggle-switch ng-model="assetMaintenance.relatedPartyPurchase" on-label="YES" off-label="NO">
                            </toggle-switch>
                        </div>
                    </div>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button ng-click="cancel()" class="md-raised md-warn">CANCEL</md-button>

                <md-button ng-click="submit(assetMaintenance)" class="md-raised md-primary" ng-disabled="false">
                    SAVE
                </md-button>

            </md-dialog-actions>
        </form>
    </md-dialog>
</div>