<!--<div class="ui-notification custom-template custom-notification">
    <h3>{{wraningMessage}}</h3>
    <div class="message" ng-bind-html="message"></div>

    <div class="message">
        <a class="btn btn-small btn-primary close-notification" ng-click="userLockConfirm()">Ok</a>
        <a class="btn btn-small btn-primary close-notification" ng-click="userLockCancel()">Cancel</a>
    </div>
</div>-->