<div ui-view id="reports" layout="row" class="page">

    <div layout-padding class="form-container" flex="100" >
        <div layout="column">
           
            <div class="title">SELECT REPORT(S) FOR DOWNLOAD:</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="sub-title">LKE MANAGEMENT REPORTS</div>
                    <div ng-repeat="item in Reports.categoryThreeList">
                        <md-checkbox ng-checked="exists(item.reportListID, selectedReportIdList)" ng-click="toggle(item.reportListID, selectedReportIdList)">
                            {{ item.linkText }}
                        </md-checkbox>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sub-title">TAX REPORTS</div>
                    <div ng-repeat="item in Reports.categoryTwoList">
                        <md-checkbox ng-checked="exists(item.reportListID, selectedReportIdList)" ng-click="toggle(item.reportListID, selectedReportIdList)">
                            {{ item.linkText }}
                        </md-checkbox>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sub-title">RECONCILIATION REPORTS</div>
                    <div ng-repeat="item in Reports.categoryOneList">
                        <md-checkbox ng-checked="exists(item.reportListID, selectedReportIdList)" ng-click="toggle(item.reportListID, selectedReportIdList)">
                            {{ item.linkText }}
                        </md-checkbox>
                    </div>
                </div>
                <!--<div class="col-sm-offset-8 col-sm-4">
                    <button flex class="btn primary pull-right" ng-click="ContinueBtnClicked()">CONTINUE</button>

                </div>-->

            </div>
       <div class="clearfix"></div>
            <div ng-if="(SelectedReports.categoryOneList.length>0)||(SelectedReports.categoryTwoList.length>0)||(SelectedReports.categoryThreeList.length>0)" class="title nomargin">SELECTED REPORTS</div>
            <div class="row">
               <div class="col-sm-4">
                        <p layout="row" ng-repeat="item in SelectedReports.categoryThreeList">> {{item.linkText}} </p>

                
                </div>

                                    <div class="col-sm-4">
                        <p layout="row" ng-repeat="item in SelectedReports.categoryTwoList">> {{item.linkText}} </p>
                    </div>

                    <div class="col-sm-4">
                        <p layout="row" ng-repeat="item in SelectedReports.categoryOneList">> {{item.linkText}} </p>

                    </div>

                    
     
                <div class="col-sm-offset-8 col-sm-4">
                    <button flex class="btn primary pull-right" ng-click="ContinueBtnClicked()"  ng-disabled="!enableContinueBtn">CONTINUE</button>

                </div>
 
 
        </div>
    </div>
</div>