<div class="form-container" layout-padding>
    <div layout="row">
        <div class="title">SELECT REPORT CRITERIA</div>
    </div>

    <form name="reportForm">
        <div class="row">

            <div class="col-sm-4" ng-if="SelectedReports.categoryThreeList.length!=0">
                <div class="label-title">LKE MANAGEMENT REPORTS</div>
                <div>
                    <label>Tax Year</label>
                    <md-autocomplete id="manage-tax" md-input-name="managementTaxYear" md-selected-item="reportObject.selectedItemTaxYearLMR" md-search-text="searchTextTaxYearLMR" md-selected-item-change="selectedItemChangeTaxYearLMR(item)" md-items="item in years|filter:searchTextTaxYearLMR"
                        md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Year" ng-required="true" ng-class="{'reports-auto-select caret-down' : reportForm.managementTaxYear.$error.required}">
                        <md-item-template>
                            <span md-highlight-text="searchTextTaxYearLMR" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>

            <!-- ng-class="{'reports-auto-select caret-down' : reportForm.managementTaxYear.$error.required}" -->

            <div class="col-sm-4" ng-if="SelectedReports.categoryTwoList.length!=0">
                <div class="label-title">TAX REPORTS</div>
                <label>TAX YEAR</label>
                <md-autocomplete id="txYeary" md-input-name="taxReportTaxYear" md-selected-item="reportObject.selectedItemTaxYearTR" md-search-text="searchTextTaxYearTR" md-selected-item-change="selectedItemChangeTaxYearTR(item)" md-items="item in years|filter:searchTextTaxYearTR"
                    md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Year" ng-required="true" ng-class="{'reports-auto-select caret-down' : reportForm.taxReportTaxYear.$error.required}">
                    <md-item-template>
                        <span md-highlight-text="searchTextTaxYearTR" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>

                <!-- ng-class="{'reports-auto-select caret-down' : reportForm.taxReportTaxYear.$error.required}" -->

                <label>TAX BOOK</label>
                <md-autocomplete id="txyBok" md-input-name="taxReportTaxBook" md-selected-item="reportObject.selectedItemDepTypeTR" md-search-text="searchTextDepTypeTR" md-selected-item-change="selectedItemChangeDepTypeTR(item)" md-items="item in depreciationTypes|filter:searchTextDepTypeTR"
                    md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Book" ng-required="true" ng-class="{'reports-auto-select caret-down' : reportForm.taxReportTaxBook.$error.required}">
                    <md-item-template>
                        <span md-highlight-text="searchTextDepTypeTR" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>

            <!-- ng-class="{'reports-auto-select caret-down' : reportForm.taxReportTaxBook.$error.required}" -->

            <div class="col-sm-4" ng-if="SelectedReports.categoryOneList.length!=0">
                <div class="label-title">RECONCILIATION REPORTS</div>

                <input type="radio" ng-model="reportObject.reconciliationReportSelecter" value="taxyear" name="RR" ng-selected="true">
                <label>TAX YEAR</label>
                <md-autocomplete id="txYear" md-input-name="reconcilationRepTaxYear" md-selected-item="reportObject.selectedItemTaxYearRR" md-search-text="searchTextTaxYearRR" md-selected-item-change="selectedItemChangeTaxYearRR(item)" md-items="item in years|filter:searchTextTaxYearRR"
                    md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Year" ng-disabled="reportObject.reconciliationReportSelecter=='daterange'" ng-required="reportObject.reconciliationReportSelecter=='taxyear'" ng-class="{'reports-auto-select caret-down' : reportForm.reconcilationRepTaxYear.$error.required}">
                    <md-item-template>
                        <span md-highlight-text="searchTextTaxYearRR" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
                <!-- ng-class="{'reports-auto-select caret-down' : reportForm.reconcilationRepTaxYear.$error.required}" -->

                <div>
                    <input type="radio" ng-model="reportObject.reconciliationReportSelecter" value="daterange" name="RR" />
                    <label>DATE RANGE</label>

                    <span class="RANGE">                 
                        <div class="datepicker" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                            <input mdc-datetime-picker="" date="true" time="true" placeholder="From Date" max-date="startTaxYear" class="form-input" name="startTaxYear" ng-class="{'reports-auto-select caret-down' : reportForm.startTaxYear.$error.required}" ng-model="reportObject.startTaxYearRR" type="text" id="input_0" ng-disabled="reportObject.reconciliationReportSelecter=='taxyear'" ng-required="reportObject.reconciliationReportSelecter=='daterange'"
                            />
                        </div>

                        <div class="datepicker" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                            <input mdc-datetime-picker="" date="true" time="true"  placeholder="To Date" min-date="startTaxYear"="endTaxYear" class="form-input" name="endTaxYear" ng-class="{'reports-auto-select caret-down' : reportForm.endTaxYear.$error.required}" ng-model="reportObject.endTaxYearRR" type="text" id="input_1" ng-disabled="reportObject.reconciliationReportSelecter=='taxyear'" ng-required="reportObject.reconciliationReportSelecter=='daterange'"
                            />
                        </div>
                    </span>

                </div>
                <label>TAX BOOK</label>
                <md-autocomplete id="taxBok" md-input-name="reconcilationRepTaxBook" md-selected-item="reportObject.selectedItemDepTypeRR" md-search-text="searchTextDepTypeRR" md-selected-item-change="selectedItemChangeDepTypeRR(item)" md-items="item in depreciationTypes|filter:searchTextDepTypeRR"
                    md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Book" ng-required="true" ng-class="{'reports-auto-select caret-down' : reportForm.reconcilationRepTaxBook.$error.required}">
                    <md-item-template>
                        <span md-highlight-text="searchTextDepTypeRR" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                </md-autocomplete>
            </div>

            <!-- ng-class="{'reports-auto-select caret-down' : reportForm.reconcilationRepTaxBook.$error.required}" -->

            <br>
            <div ng-if="(SelectedReports.categoryOneList.length>0)||(SelectedReports.categoryTwoList.length>0)||(SelectedReports.categoryThreeList.length>0)" class="title nomargin col-sm-12">SELECTED REPORTS</div>


            <div class="col-sm-4" ng-if="SelectedReports.categoryThreeList.length!=0">
                <p layout="row" ng-repeat="item in SelectedReports.categoryThreeList">> {{item.linkText}} </p>

            </div>
            <div class="col-sm-4" ng-if="SelectedReports.categoryTwoList.length!=0">
                <p layout="row" ng-repeat="item in SelectedReports.categoryTwoList">> {{item.linkText}} </p>
            </div>

            <div class="col-sm-4" ng-if="SelectedReports.categoryOneList.length!=0">
                <p layout="row" ng-repeat="item in SelectedReports.categoryOneList">> {{item.linkText}} </p>
            </div>

            <div class="col-sm-12 text-right">
                <button class="btn btn-primary" ng-disabled="reportForm.$invalid" ng-click="downloadSelectedReports(selectedItemDepTypeRR);">DOWNLOAD</button>
                <button class="btn btn-primary" ng-click="startOverClicked()">Start Over</button>
            </div>

        </div>
    </form>