<div ui-view class="form-container page" id="reportManData">
    <div>
        <div class="reports-title" ng-click="toggleFirstPannel()">
            <i ng-if="firstPanel" class="fa fa-caret-down admin-panel" aria-hidden="true"></i>
            <i ng-if="!firstPanel" class="fa fa-caret-right admin-panel" aria-hidden="true"></i> REFRESH CLIENT DATA
        </div>

    </div>
    <div ng-if="firstPanel" class="refresh-client-data">
        <form name="updateArchiveForm" novalidate>
            <div id="userManagement" layout="row" class="page padding-top-row" layout-wrap="" flex="">
                <div flex="30">
                    <label>TAX BOOK</label>
                    <md-autocomplete ng-required="true" md-input-name="taxBook" md-selected-item="obj.selectedTaxBook" md-search-text="searchTaxBook" md-selected-item-change="selectedItemChangeTaxBook(item)" md-items="item in taxBook|filter:searchTaxBook" md-item-text="item.display"
                        md-min-length="0" placeholder=" Select Tax Book" ng-class="{'reports-auto-select caret-down' : updateArchiveForm.taxBook.$error.required}">
                        <md-item-template>
                            <span md-highlight-text="searchTaxBook" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>

                <!-- ng-class="{'reports-auto-select caret-down' : updateArchiveForm.taxBook.$error.required}"  -->

                <div flex="5"></div>

                <div flex="30">
                    <label>FROM TAX YEAR</label>
                    <md-autocomplete id="taxYeary" ng-required="true" md-input-name="fromTaxYear" md-selected-item="obj.selectedFromTaxYr" md-search-text="searchFromTaxYr" md-selected-item-change="selectedItemChangeFromTaxYr(item)" md-items="item in fromTaxYear|filter:searchFromTaxYr"
                        md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Year" ng-class="{'reports-auto-select' : updateArchiveForm.fromTaxYear.$error.required}">
                        <md-item-template>
                            <span md-highlight-text="searchFromTaxYr" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>

                <!-- ng-class="{'reports-auto-select caret-down' : updateArchiveForm.fromTaxYear.$error.required}" -->
                <div flex="5"></div>

                <div flex="30">
                    <label>TO TAX YEAR</label>
                    <md-autocomplete id="taxTo" ng-required="true" md-input-name="toTaxYear" md-selected-item="obj.selectedToTaxYr" md-search-text="searchToTaxYr" md-selected-item-change="selectedItemChangeToTaxYr(item)" md-items="item in toTaxYear|filter:searchToTaxYr"
                        md-item-text="item.display" md-min-length="0" placeholder=" Select Tax Year" ng-class="{'reports-auto-select' : updateArchiveForm.toTaxYear.$error.required}">
                        <md-item-template>
                            <span md-highlight-text="searchToTaxYr" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>

            <!-- ng-class="{'reports-auto-select caret-down' : updateArchiveForm.toTaxYear.$error.required}" -->

            <div id="userManagement" layout="row" class="page padding-top-row" layout-wrap="" flex="">
                <div flex="30">
                    <label>RunYearand1</label>
                    <md-radio-group ng-model="obj.runYearAnd1" class="md-primary">
                        <md-radio-button ng-value="1" class="md-align-top-left">
                            YES
                        </md-radio-button>
                        <md-radio-button ng-value="0" class="md-align-top-left">
                            NO
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div flex="5"></div>
                <div flex="30">
                    <label>RunMatch</label>
                    <md-radio-group ng-model="obj.runMatch" class="md-primary">
                        <md-radio-button ng-value="1" class="md-align-top-left">
                            YES
                        </md-radio-button>
                        <md-radio-button ng-value="0" class="md-align-top-left">
                            NO
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div flex="5"></div>
                <div flex="30">
                    <label>ManualMatches</label>
                    <md-radio-group ng-model="obj.manualMatch" class="md-primary">
                        <md-radio-button ng-value="1" class="md-align-top-left">
                            YES
                        </md-radio-button>
                        <md-radio-button ng-value="0" class="md-align-top-left">
                            NO
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div id="userManagement" layout="row" class="page padding-top-row" layout-wrap="" flex="70">
                <div flex="45">
                    <label>AlternateMatch</label>
                    <md-radio-group ng-model="obj.alternamteMatch" class="md-primary">
                        <md-radio-button ng-value="1" class="md-align-top-left">
                            YES
                        </md-radio-button>
                        <md-radio-button ng-value="0" class="md-align-top-left">
                            NO
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div layout="row" class="page" layout-wrap="" flex="">
                <div class="col-sm-3 text-right col-sm-offset-9">
                    <button class="btn primary" ng-disabled="!obj.selectedTaxBook||!obj.selectedFromTaxYr||!obj.selectedToTaxYr" ng-click="refreshClientData(obj)">REFRESH</button>
                </div>
            </div>
        </form>
    </div>
    <div layout="row" flex="30">
        <div class="reports-title" ng-click="toggleSecondPannel()">
            <i ng-if="secondPanel" class="fa fa-caret-down admin-panel" aria-hidden="true"></i>
            <i ng-if="!secondPanel" class="fa fa-caret-right admin-panel" aria-hidden="true"></i> REFRESH REPORTS
        </div>

    </div>
    <div ng-if="secondPanel" id="reportManagement">
        <form name="refreshReportsForm" novalidate>
            <div id="userManagement" layout="row" class="page dblistpadding" layout-wrap="" flex="">
                <div flex="45">
                    <label>TAX YEAR</label>
                    <md-autocomplete id="refreshYear" ng-required="true" md-selected-item="selectedTaxYr" md-search-text="searchTextTaxYr" md-selected-item-change="selectedItemChangeTaxYear(item)" md-items="item in taxYearForRefresh|filter:searchTextTaxYr" md-item-text="item.display"
                        md-min-length="0" placeholder=" Select Tax Year" md-input-name="refreshTaxYr" ng-class="{'reports-auto-select' : refreshReportsForm.refreshTaxYr.$error.required}">
                        <md-item-template>
                            <span md-highlight-text="searchTextTaxYr" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>
            <div layout="row" class="page dblistpadding" layout-wrap="" flex="">
                <!--<div layout="row" flex="20" ng-repeat="dbList123s in dbList123">
                <md-checkbox ng-checked="exists(dbList, selected)" ng-click="toggle(dbList, selected)">
                    <span>{{ dbList123s.actualDbaseName }}</span>
                </md-checkbox>
            </div>-->
                <div layout="row" flex="20" class="databaseListItems" ng-repeat="item in dbList123">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item.actualDbaseName }}
                    </md-checkbox>
                </div>
                <div class="col-sm-3 text-right col-sm-offset-9">
                    <button class="btn primary" ng-disabled="!selectedTaxYr || !selectedDBList.length" ng-click="refreshReports(selectedTaxYr, selected)">REFRESH</button>
                </div>
            </div>
        </form>

    </div>
</div>