<div ui-view class="form-container page container-fluid" id="assetMaintain">

    <!--<div class="title">ASSET MAINTENANCE</div>-->
    <div class="page title">SEARCH BY</div>


    <div layout="row">
        <div flex>
            <label class="assetMain">ASSET ID</label>
            <input placeholder="Asset ID" ng-model="obj.assetID" ng-disabled="(obj.saleStartDate || obj.saleEndDate) || (obj.purchaseStartDate || obj.purchaseEndDate)" class="form-input" name="assetID" type="text" />

        </div>
        <div class="nolabel" layout-padding>OR</div>
        <div flex>
            <label class="assetMain">SALE DATE RANGE</label>
            <div class="datepicker" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                <input date="true" time="true" placeholder="From Date" ng-model="obj.saleStartDate" ng-disabled="obj.assetID || (obj.purchaseStartDate || obj.purchaseEndDate)" class="form-input" name="startTaxYear" type="text" />
            </div>
        </div>
        <div class="nolabel" layout-padding>TO</div>
        <div flex class="to-data-picker">
            <label> </label>
            <div class="datepicker" id="label-ToDate" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                <input date="true" time="true" placeholder="To Date" ng-model="obj.saleEndDate" ng-disabled="obj.assetID || (obj.purchaseStartDate || obj.purchaseEndDate)" class="form-input" name="startTaxYear" type="text" />
            </div>
        </div>


        <div class="nolabel" layout-padding>OR</div>
        <div flex>
            <label class="assetMain"> PURCHASE DATE RANGE</label>
            <div class="datepicker" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                <input date="true" time="true" placeholder="From Date" ng-model="obj.purchaseStartDate" ng-disabled="obj.assetID || (obj.saleStartDate || obj.saleEndDate)" class="form-input" name="startTaxYear" type="text" />
            </div>
        </div>
        <div class="nolabel" layout-padding>TO</div>
        <div flex class="to-data-picker">
            <label> </label>
            <div class="datepicker" id="label-ToDate" date-format="MM-dd-yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                <input date="true" time="true" placeholder="To Date" ng-model="obj.purchaseEndDate" ng-disabled="obj.assetID || (obj.saleStartDate || obj.saleEndDate)" class="form-input" name="startTaxYear" type="text" />
            </div>
        </div>
    </div>
    <div flex class="text-right">
        <button type="button" class="btn primary" ng-click="serchAssetMaintenance(obj.assetID, obj.saleStartDate, obj.saleEndDate, obj.purchaseStartDate, obj.purchaseEndDate)" ng-disabled="!obj.assetID&&!obj.saleStartDate&&!obj.saleEndDate&&!obj.purchaseStartDate&&!obj.purchaseEndDate">SEARCH</button>
    </div>


    <br>
    <div>

        <div id="assetGrid" ui-grid="gridOptionsAssetMaintenance" ui-grid-auto-resize class="grid show-text asset-tabel asset-grid" ui-grid-pinning>
            <!--<p ng-if="gridOptionsAssetMaintenance.data.length==0" class="errData"> Please select Asset ID or Sale date range or Purchase date range </p>-->
            <p ng-if="gridOptionsAssetMaintenance.data.length==0" class="errData"> No results found </p>
        </div>

    </div>

</div>